openapi: 3.0.2
info:
  title: VTS Lease Account Admin Download Links API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants, buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com) per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Download Links
paths:
  /:
    get:
      description: Download AWS CloudFront pre-signed URIs
      tags:
      - Download Links
      summary: Download files URIs
      parameters:
      - description: Defines the export.
        name: export_name
        in: query
        required: true
        schema:
          type: string
          enum:
          - activate_reservations
          - activate_analytics_events
          - activate_user_channel_details
          - sample_export
      - description: Specifies the generated date of the requested export file (YYYY-MM-DD).
        name: generated_date
        in: query
        schema:
          type: string
      - description: Authentication JSON Web Token with correct claims and identifier information.
        name: authorization
        in: header
        required: true
        schema:
          type: string
          default: Bearer
      - description: JSON content type header.
        name: Content-Type
        in: header
        required: true
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models_api.DownloadLinksResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models_api.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models_api.ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models_api.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: string
      operationId: get_-1
components:
  schemas:
    models_api.ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: error description
    models_api.DataEntity:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/models_api.UriEntity'
        id:
          type: string
          example: e8a6be19-9676-4bb2-9c5d-8d76cf8dcc23
        type:
          type: string
          example: download_link
    models_api.UriEntity:
      type: object
      properties:
        error:
          type: string
          example: explanation of the error
        uri:
          type: string
          example: https://example.vts.com
    models_api.DownloadLinksResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/models_api.DataEntity'
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow with PKCE (VTS Activate / OIDC).
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox.vts.com/oauth/authorize
          tokenUrl: https://sandbox.vts.com/oauth/token
          refreshUrl: https://sandbox.vts.com/oauth/token
          scopes:
            read_write: Read and write access
            openid: OpenID Connect
            profile: Profile claims
            email: Email claim
x-apis-json:
  generated: '2026-07-21'
  method: searched
  source: https://readme.vts.com/reference (per-operation OpenAPI fragments, harvested & merged)
