openapi: 3.2.0
info:
  title: VTS Lease Spaces API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants, buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com) per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Spaces
paths:
  /api/v1/spaces:
    get:
      summary: Fetches spaces
      description: Contains the spaces in your portfolio. Spaces are sub-components of assets
      tags:
      - Spaces
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: filter[deal_id]
        in: query
        required: false
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Spaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: spaces_industrial
                            example: spaces_industrial
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              archived_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              availability_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              availability_type:
                                type: string
                                example: arranged
                                enum:
                                - arranged
                                - immediate
                                - month to month
                                - not available
                                - specified
                                description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                              created_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                              current_size:
                                $ref: '#/components/schemas/measure_size'
                              description:
                                type:
                                - string
                                - 'null'
                              external_ids:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    system_id:
                                      type:
                                      - string
                                      - 'null'
                                    system_name:
                                      type:
                                      - string
                                      - 'null'
                              floor:
                                type: object
                                properties:
                                  composition:
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    type: string
                                  position:
                                    type: number
                              hypothetical_space:
                                type: boolean
                              lease_type:
                                type: string
                                enum:
                                - direct
                                - renewal
                                - sublease
                              listing_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              market_rent:
                                $ref: '#/components/schemas/measure_money'
                              maximum_contiguous_size:
                                $ref: '#/components/schemas/measure_size'
                              minimum_divisible_size:
                                $ref: '#/components/schemas/measure_size'
                              occupancy_status:
                                type:
                                - string
                                - 'null'
                              position:
                                type:
                                - number
                                - 'null'
                              price_is_negotiable:
                                type: boolean
                              public:
                                type: boolean
                              remeasured_space_available:
                                type:
                                - string
                                - 'null'
                              rental_pay_type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - amt_month
                                - amt_year
                                - psf_month
                                - psf_year
                              rental_rate_max:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              rental_rate_min:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              sale_price:
                                $ref: '#/components/schemas/measure_money'
                              sourceid:
                                type:
                                - string
                                - 'null'
                              space_condition:
                                type:
                                - string
                                - 'null'
                                enum:
                                - 2nd generation
                                - category a+
                                - challenged
                                - core and shell
                                - floor and shell
                                - pre-built
                                - pre-existing
                                - raw
                                - turnkey
                                - under construction
                                - white box
                              space_type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - office
                                - retail
                                - industrial_warehouse
                                - telecom
                                - storage
                                - flex
                                - parking
                                - amenities
                                - rooftop
                                - other
                                - lab
                                - manufacturing
                                - residential
                                - medical_office
                                - education
                                - restaurant
                                - leisure
                                - unspecified
                                - null
                              subtitle:
                                type:
                                - string
                                - 'null'
                              suite:
                                type:
                                - string
                                - 'null'
                              term_duration:
                                type:
                                - string
                                - 'null'
                              transaction_type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - lease
                                - sale
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date
                              vacant_on_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              internal_notes:
                                type:
                                - string
                                - 'null'
                                example: Notes
                                description: Internal notes visible only within the VTS platform for users with access to the Space.
                              clear_height:
                                type:
                                - string
                                - 'null'
                              depth:
                                type:
                                - string
                                - 'null'
                              dock_height:
                                type:
                                - string
                                - 'null'
                              ground_level_doors:
                                type:
                                - string
                                - 'null'
                              office_portion:
                                type:
                                - string
                                - 'null'
                              trailer_parking:
                                type:
                                - string
                                - 'null'
                              yard:
                                type:
                                - string
                                - 'null'
                              ceiling_height:
                                type:
                                - string
                                - 'null'
                              column_spacing:
                                type:
                                - string
                                - 'null'
                              electrical:
                                type:
                                - string
                                - 'null'
                              hvac:
                                type:
                                - string
                                - 'null'
                              parking:
                                type:
                                - string
                                - 'null'
                              roof:
                                type:
                                - string
                                - 'null'
                              sprinklers:
                                type:
                                - string
                                - 'null'
                          relationships:
                            type: object
                            properties:
                              in_place_lease:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              committed_lease:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              last_expired_lease:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              asset:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - assets
                                        example: assets
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: spaces_office
                            example: spaces_office
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              archived_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              availability_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              availability_type:
                                type: string
                                example: arranged
                                enum:
                                - arranged
                                - immediate
                                - month to month
                                - not available
                                - specified
                                description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                              created_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                              current_size:
                                $ref: '#/components/schemas/measure_size'
                              description:
                                type:
                                - string
                                - 'null'
                              external_ids:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    system_id:
                                      type:
                                      - string
                                      - 'null'
                                    system_name:
                                      type:
                                      - string
                                      - 'null'
                              floor:
                                type: object
                                properties:
                                  composition:
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    type: string
                                  position:
                                    type: number
                              hypothetical_space:
                                type: boolean
                              lease_type:
                                type: string
                                enum:
                                - direct
                                - renewal
                                - sublease
                              listing_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              market_rent:
                                $ref: '#/components/schemas/measure_money'
                              maximum_contiguous_size:
                                $ref: '#/components/schemas/measure_size'
                              minimum_divisible_size:
                                $ref: '#/components/schemas/measure_size'
                              occupancy_status:
                                type:
                                - string
                                - 'null'
                              position:
                                type:
                                - number
                                - 'null'
                              price_is_negotiable:
                                type: boolean
                              public:
                                type: boolean
                              remeasured_space_available:
                                type:
                                - string
                                - 'null'
                              rental_pay_type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - amt_month
                                - amt_year
                                - psf_month
                                - psf_year
                              rental_rate_max:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              rental_rate_min:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              sale_price:
                                $ref: '#/components/schemas/measure_money'
                              sourceid:
                                type:
                                - string
                                - 'null'
                              space_condition:
                                type:
                                - string
                                - 'null'
                                enum:
                                - 2nd generation
                                - category a+
                                - challenged
                                - core and shell
                                - floor and shell
                                - pre-built
                                - pre-existing
                                - raw
                                - turnkey
                                - under construction
                                - white box
                              space_type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - office
                                - retail
                                - industrial_warehouse
                                - telecom
                                - storage
                                - flex
                                - parking
                                - amenities
                                - rooftop
                                - other
                                - lab
                                - manufacturing
                                - residential
                                - medical_office
                                - education
                                - restaurant
                                - leisure
                                - unspecified
                                - null
                              subtitle:
                                type:
                                - string
                                - 'null'
                              suite:
                                type:
                                - string
                                - 'null'
                              term_duration:
                                type:
                                - string
                                - 'null'
                              transaction_type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - lease
                                - sale
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date
                              vacant_on_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              internal_notes:
                                type:
                                - string
                                - 'null'
                                example: Notes
                                description: Internal notes visible only within the VTS platform for users with access to the Space.
                              ceiling_height:
                                type:
                                - string
                                - 'null'
                              column_spacing:
                                type:
                                - string
                                - 'null'
                              electrical:
                                type:
                                - string
                                - 'null'
                              hvac:
                                type:
                                - string
                                - 'null'
                              parking:
                                type:
                                - string
                                - 'null'
                              roof:
                                type:
                                - string
                                - 'null'
                              sprinklers:
                                type:
                                - string
                                - 'null'
                          relationships:
                            type: object
                            properties:
                              in_place_lease:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              committed_lease:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              last_expired_lease:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              asset:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - assets
                                        example: assets
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: spaces_retail
                            example: spaces_retail
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              archived_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              availability_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              availability_type:
                                type: string
                                example: arranged
                                enum:
                                - arranged
                                - immediate
                                - month to month
                                - not available
                                - specified
                                description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                              created_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                              current_size:
                                $ref: '#/components/schemas/measure_size'
                              description:
                                type:
                                - string
                                - 'null'
                              external_ids:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    system_id:
                                      type:
                                      - string
                                      - 'null'
                                    system_name:
                                      type:
                                      - string
                                      - 'null'
                              floor:
                                type: object
                                properties:
                                  composition:
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    type: string
                                  position:
                                    type: number
                              hypothetical_space:
                                type: boolean
                              lease_type:
                                type: string
                                enum:
                                - direct
                                - renewal
                                - sublease
                              listing_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              market_rent:
                                $ref: '#/components/schemas/measure_money'
                              maximum_contiguous_size:
                                $ref: '#/components/schemas/measure_size'
                              minimum_divisible_size:
                                $ref: '#/components/schemas/measure_size'
                              occupancy_status:
                                type:
                                - string
                                - 'null'
                              position:
                                type:
                                - number
                                - 'null'
                              price_is_negotiable:
                                type: boolean
                              public:
                                type: boolean
                              remeasured_space_available:
                                type:
                                - string
                                - 'null'
                              rental_pay_type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - amt_month
                                - amt_year
                                - psf_month
                                - psf_year
                              rental_rate_max:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              rental_rate_min:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              sale_price:
                                $ref: '#/components/schemas/measure_money'
                              sourceid:
                                type:
                                - string
                                - 'null'
                              space_condition:
                                type:
                                - string
                                - 'null'
                                enum:
                                - 2nd generation
                                - category a+
                                - challenged
                                - core and shell
                                - floor and shell
                                - pre-built
                                - pre-existing
                                - raw
                                - turnkey
                                - under construction
                                - white box
                              space_type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - office
                                - retail
                                - industrial_warehouse
                                - telecom
                                - storage
                                - flex
                                - parking
                                - amenities
                                - rooftop
                                - other
                                - lab
                                - manufacturing
                                - residential
                                - medical_office
                                - education
                                - restaurant
                                - leisure
                                - unspecified
                                - null
                              subtitle:
                                type:
                                - string
                                - 'null'
                              suite:
                                type:
                                - string
                                - 'null'
                              term_duration:
                                type:
                                - string
                                - 'null'
                              transaction_type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - lease
                                - sale
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date
                              vacant_on_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              internal_notes:
                                type:
                                - string
                                - 'null'
                                example: Notes
                                description: Internal notes visible only within the VTS platform for users with access to the Space.
                              depth:
                                type:
                                - string
                                - 'null'
                              frontage:
                                type:
                                - number
                                - 'null'
                              retail_space_type:
                                type:
                                - object
                                - 'null'
                              ceiling_height:
                                type:
                                - string
                                - 'null'
                              column_spacing:
                                type:
                                - string
                                - 'null'
                              electrical:
                                type:
                                - string
                                - 'null'
                              hvac:
                                type:
                                - string
                                - 'null'
                              parking:
                                type:
                                - string
                                - 'null'
                              roof:
                                type:
                                - string
                                - 'null'
                              sprinklers:
                                type:
                                - string
                                - 'null'
                          relationships:
                            type: object
                            properties:
                              in_place_lease:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              committed_lease:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              last_expired_lease:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              asset:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - assets
                                        example: assets
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: spaces_miscellaneous
                            example: spaces_miscellaneous
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              archived_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              availability_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              availability_type:
                                type: string
                                example: arranged
                                enum:
                                - arranged
                                - immediate
                                - month to month
                                - not available
                                - specified
                                description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                              created_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                              current_size:
                                $ref: '#/components/schemas/measure_size'
                              description:
                                type:
                                - string
                                - 'null'
                              external_ids:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    system_id:
                                      type:
                                      - string
                                      - 'null'
                                    system_name:
                                      type:
                                      - string
                                      - 'null'
                              floor:
                                type: object
                                properties:
                                  composition:
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    type: string
                                  position:
                                    type: number
                              hypothetical_space:
                                type: boolean
                              lease_type:
                                type: string
                                enum:
                                - direct
                                - renewal
                                - sublease
                              listing_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              market_rent:
                                $ref: '#/components/schemas/measure_money'
                              maximum_contiguous_size:
                                $ref: '#/components/schemas/measure_size'
                              minimum_divisible_size:
                                $ref: '#/components/schemas/measure_size'
                              occupancy_status:
                                type:
                                - string
                                - 'null'
                              position:
                                type:
                                - number
                                - 'null'
                              price_is_negotiable:
                                type: boolean
                              public:
                                type: boolean
                              remeasured_space_available:
                                type:
                                - string
                                - 'null'
                              rental_pay_type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - amt_month
                                - amt_year
                                - psf_month
                                - psf_year
                              rental_rate_max:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              rental_rate_min:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              sale_price:
                                $ref: '#/components/schemas/measure_money'
                              sourceid:
                                type:
                                - string
                                - 'null'
                              space_condition:
                                type:
                                - string
                                - 'null'
                                enum:
                                - 2nd generation
                                - category a+
                                - challenged
                                - core and shell
                                - floor and shell
                                - pre-built
                                - pre-existing
                                - raw
                                - turnkey
                                - under construction
                                - white box
                              space_type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - office
                                - retail
                                - industrial_warehouse
                                - telecom
                                - storage
                                - flex
                                - parking
                                - amenities
                                - rooftop
                                - other
                                - lab
                                - manufacturing
                                - residential
                                - medical_office
                                - education
                                - restaurant
                                - leisure
                                - unspecified
                                - null
                              subtitle:
                                type:
                                - string
                                - 'null'
                              suite:
                                type:
                                - string
                                - 'null'
                              term_duration:
                                type:
                                - string
                                - 'null'
                              transaction_type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - lease
                                - sale
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date
                              vacant_on_date:
                                type:
                                - string
                                - 'null'
                                format: date
                              internal_notes:
                                type:
                                - string
                                - 'null'
                                example: Notes
                                description: Internal notes visible only within the VTS platform for users with access to the Space.
                          relationships:
                            type: object
                            properties:
                              in_place_lease:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              committed_lease:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              last_expired_lease:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              asset:
                                type: object
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - assets
                                        example: assets
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/spaces
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/spaces?page%5Bbefore%5D=MzE2NTI%253D
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/spaces?page%5Bafter%5D=MzE2NjQ%253D
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-spaces
  /api/v1/spaces/{id}:
    get:
      summary: Retrieves specific space
      description: Contains the spaces in your portfolio. Spaces are sub-components of assets
      tags:
      - Spaces
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested space if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                    - type: object
                      properties:
                        type:
                          type: string
                          pattern: spaces_industrial
                          example: spaces_industrial
                        id:
                          type: string
                          example: '1'
                        attributes:
                          type: object
                          properties:
                            archived_date:
                              type:
                              - string
                              - 'null'
                              format: date
                            availability_date:
                              type:
                              - string
                              - 'null'
                              format: date
                            availability_type:
                              type: string
                              example: arranged
                              enum:
                              - arranged
                              - immediate
                              - month to month
                              - not available
                              - specified
                              description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                            created_at:
                              type:
                              - string
                              - 'null'
                              format: date-time
                            current_size:
                              $ref: '#/components/schemas/measure_size'
                            description:
                              type:
                              - string
                              - 'null'
                            external_ids:
                              type: array
                              items:
                                type: object
                                properties:
                                  system_id:
                                    type:
                                    - string
                                    - 'null'
                                  system_name:
                                    type:
                                    - string
                                    - 'null'
                            floor:
                              type: object
                              properties:
                                composition:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type: string
                                position:
                                  type: number
                            hypothetical_space:
                              type: boolean
                            lease_type:
                              type: string
                              enum:
                              - direct
                              - renewal
                              - sublease
                            listing_date:
                              type:
                              - string
                              - 'null'
                              format: date
                            market_rent:
                              $ref: '#/components/schemas/measure_money'
                            maximum_contiguous_size:
                              $ref: '#/components/schemas/measure_size'
                            minimum_divisible_size:
                              $ref: '#/components/schemas/measure_size'
                            occupancy_status:
                              type:
                              - string
                              - 'null'
                            position:
                              type:
                              - number
                              - 'null'
                            price_is_negotiable:
                              type: boolean
                            public:
                              type: boolean
                            remeasured_space_available:
                              type:
                              - string
                              - 'null'
                            rental_pay_type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - amt_month
                              - amt_year
                              - psf_month
                              - psf_year
                            rental_rate_max:
                              oneOf:
                              - $ref: '#/components/schemas/measure_money_period'
                              - $ref: '#/components/schemas/measure_money_area_period'
                            rental_rate_min:
                              oneOf:
                              - $ref: '#/components/schemas/measure_money_period'
                              - $ref: '#/components/schemas/measure_money_area_period'
                            sale_price:
                              $ref: '#/components/schemas/measure_money'
                            sourceid:
                              type:
                              - string
                              - 'null'
                            space_condition:
                              type:
                              - string
                              - 'null'
                              enum:
                              - 2nd generation
                              - category a+
                              - challenged
                              - core and shell
                              - floor and shell
                              - pre-built
                              - pre-existing
                              - raw
                              - turnkey
                              - under construction
                              - white box
                            space_type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - office
                              - retail
                              - industrial_warehouse
                              - telecom
                              - storage
                              - flex
                              - parking
                              - amenities
                              - rooftop
                              - other
                              - lab
                              - manufacturing
                              - residential
                              - medical_office
                              - education
                              - restaurant
                              - leisure
                              - unspecified
                              - null
                            subtitle:
                              type:
                              - string
                              - 'null'
                            suite:
                              type:
                              - string
                              - 'null'
                            term_duration:
                              type:
                              - string
                              - 'null'
                            transaction_type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - lease
                              - sale
                            updated_at:
                              type:
                              - string
                              - 'null'
                              format: date
                            vacant_on_date:
                              type:
                              - string
                              - 'null'
                              format: date
                            internal_notes:
                              type:
                              - string
                              - 'null'
                              example: Notes
                              description: Internal notes visible only within the VTS platform for users with access to the Space.
                            clear_height:
                              type:
                              - string
                              - 'null'
                            depth:
                              type:
                              - string
                              - 'null'
                            dock_height:
                              type:
                              - string
                              - 'null'
                            ground_level_doors:
                              type:
                              - string
                              - 'null'
                            office_portion:
                              type:
                              - string
                              - 'null'
                            trailer_parking:
                              type:
                              - string
                              - 'null'
                            yard:
                              type:
                              - string
                              - 'null'
                            ceiling_height:
                              type:
                              - string
                              - 'null'
                            column_spacing:
                              type:
                              - string
                              - 'null'
                            electrical:
                              type:
                              - string
                              - 'null'
                            hvac:
                              type:
                              - string
                              - 'null'
                            parking:
                              type:
                              - string
                              - 'null'
                            roof:
                              type:
                              - string
                              - 'null'
                            sprinklers:
                              type:
                              - string
                              - 'null'
                        relationships:
                          type: object
                          properties:
                            in_place_lease:
                              type: object
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            committed_lease:
                              type: object
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            last_expired_lease:
                              type: object
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            asset:
                              type: object
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - assets
                                      example: assets
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                    - type: object
                      properties:
                        type:
                          type: string
                          pattern: spaces_office
                          example: spaces_office
                        id:
                          type: string
                          example: '1'
                        attributes:
                          type: object
                          properties:
                            archived_date:
                              type:
                              - string
                              - 'null'
                              format: date
                            availability_date:
                              type:
                              - string
                              - 'null'
                              format: date
                            availability_type:
                              type: string
                              example: arranged
                              enum:
                              - arranged
                              - immediate
                              - month to month
                              - not available
                              - specified
                              description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                            created_at:
                              type:
                              - string
                              - 'null'
                              format: date-time
                            current_size:
                              $ref: '#/components/schemas/measure_size'
                            description:
                              type:
                              - string
                              - 'null'
                            external_ids:
                              type: array
                              items:
                                type: object
                                properties:
                                  system_id:
                                    type:
                                    - string
                                    - 'null'
                                  system_name:
                                    type:
                                    - string
                                    - 'null'
                            floor:
                              type: object
                              properties:
                                composition:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type: string
                                position:
                                  type: number
                            hypothetical_space:
                              type: boolean
                            lease_type:
                              type: string
                              enum:
                              - direct
                              - renewal
                              - sublease
                            listing_date:
                              type:
                              - string
                              - 'null'
                              format: date
                            market_rent:
                              $ref: '#/components/schemas/measure_money'
                            maximum_contiguous_size:
                              $ref: '#/components/schemas/measure_size'
                            minimum_divisible_size:
                              $ref: '#/components/schemas/measure_size'
                            occupancy_status:
                              type:
                              - string
                              - 'null'
                            position:
                              type:
                              - number
                              - 'null'
                            price_is_negotiable:
                              type: boolean
                            public:
                              type: boolean
                            remeasured_space_available:
                              type:
                              - string
                              - 'null'
                            rental_pay_type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - amt_month
                              - amt_year
                              - psf_month
                              - psf_year
                            rental_rate_max:
                              oneOf:
                              - $ref: '#/components/schemas/measure_money_period'
                              - $ref: '#/components/schemas/measure_money_area_period'
                            rental_rate_min:
                              oneOf:
                              - $ref: '#/components/schemas/measure_money_period'
                              - $ref: '#/components/schemas/measure_money_area_period'
                            sale_price:
                              $ref: '#/components/schemas/measure_money'
                            sourceid:
                              type:
                              - string
                              - 'null'
                            space_condition:
                              type:
                              - string
                              - 'null'
                              enum:
                              - 2nd generation
                              - category a+
                              - challenged
                              - core and shell
                              - floor and shell
                              - pre-built
                              - pre-existing
                              - raw
                              - turnkey
                              - under construction
                              - white box
                            space_type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - office
                              - retail
                              - industrial_warehouse
                              - telecom
                              - storage
                              - flex
                              - parking
                              - amenities
                              - rooftop
                              - other
                              - lab
                              - manufacturing
                              - residential
                              - medical_office
                              - education
                              - restaurant
                              - leisure
                              - unspecified
                              - null
                            subtitle:
                              type:
                              - string
                              - 'null'
                            suite:
                              type:
                              - string
                              - 'null'
                            term_duration:
                              type:
                              - string
                              - 'null'
                            transaction_type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - lease
                              - sale
                            updated_at:
                              type:
                              - string
                              - 'null'
                              format: date
                            vacant_on_date:
                              type:
                              - string
                              - 'null'
                              format: date
                            internal_notes:
                              type:
                              - string
                              - 'null'
                              example: Notes
                              description: Internal notes visible only within the VTS platform for users with access to the Space.
                            ceiling_height:
                              type:
                              - string
                              - 'null'
                            column_spacing:
                              type:
                              - string
                              - 'null'
                            electrical:
                              type:
                              - string
                              - 'null'
                            hvac:
                              type:
                              - string
                              - 'null'
                            parking:
                              type:
                              - string
                              - 'null'
                            roof:
                              type:
                              - string
                              - 'null'
                            sprinklers:
                              type:
                              - string
                              - 'null'
                        relationships:
                          type: object
                          properties:
                            in_place_lease:
                              type: object
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            committed_lease:
                              type: object
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            last_expired_lease:
                              type: object
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            asset:
                              type: object
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - assets
                                      example: assets
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                    - type: object
                      properties:
                        type:
                          type: string
                          pattern: spaces_retail
                          example: spaces_retail
                        id:
                          type: string
                          example: '1'
                        attributes:
                          type: object
                          properties:
                            archived_date:
                              type:
                              - string
                              - 'null'
                              format: date
                            availability_date:
                              type:
                              - string
                              - 'null'
                              format: date
                            availability_type:
                              type: string
                              example: arranged
                              enum:
                              - arranged
                              - immediate
                              - month to month
                              - not available
                              - specified
                              description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                            created_at:
                              type:
                              - string
                              - 'null'
                              format: date-time
                            current_size:
                              $ref: '#/components/schemas/measure_size'
                            description:
                              type:
                              - string
                              - 'null'
                            external_ids:
                              type: array
                              items:
                                type: object
                                properties:
                                  system_id:
                                    type:
                                    - string
                                    - 'null'
                                  system_name:
                                    type:
                                    - string
                                    - 'null'
                            floor:
                              type: object
                              properties:
                                composition:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type: string
                                position:
                                  type: number
                            hypothetical_space:
                              type: boolean
                            lease_type:
                              type: string
                              enum:
                              - direct
                              - renewal
                              - sublease
                            listing_date:
                              type:
                              - string
                              - 'null'
                              format: date
                            market_rent:
                              $ref: '#/components/schemas/measure_money'
                            maximum_contiguous_size:
                              $ref: '#/components/schemas/measure_size'
                            minimum_divisible_size:
                              $ref: '#/components/schemas/measure_size'
                            occupancy_status:
                              type:
                              - string
                              - 'null'
                            position:
                              type:
                              - number
                              - 'null'
                            price_is_negotiable:
                              type: boolean
                            public:
                              type: boolean
                            remeasured_space_available:
                              type:
                              - string
                              - 'null'
                            rental_pay_type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - amt_month
                              - amt_year
                              - psf_month
                              - psf_year
                            rental_rate_max:
                              oneOf:
                              - $ref: '#/components/schemas/measure_money_period'
                              - $ref: '#/components/schemas/measure_money_area_period'
                            rental_rate_min:
                              oneOf:
                              - $ref: '#/components/schemas/measure_money_period'
                              - $ref: '#/components/schemas/measure_money_area_period'
                            sale_price:
                              $ref: '#/components/schemas/measure_money'
                            sourceid:
                              type:
                              - string
                              - 'null'
                            space_condition:
                              type:
                              - string
                              - 'null'
                              enum:
                              - 2nd generation
                              - category a+
                              - challenged
                              - core and shell
                              - floor and shell
                              - pre-built
                              - pre-existing
                              - raw
                              - turnkey
                              - under construction
                              - white box
                            space_type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - office
                              - retail
                              - industrial_warehouse
                              - telecom
                              - storage
                              - flex
                              - parking
                              - amenities
                              - rooftop
                              - other
                              - lab
                              - manufacturing
                              - residential
                              - medical_office
                              - education
                              - restaurant
                              - leisure
                              - unspecified
                              - null
                            subtitle:
                              type:
                              - string
                              - 'null'
                            suite:
                              type:
                              - string
                              - 'null'
                            term_duration:
                              type:
                              - string
                              - 'null'
                            transaction_type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - lease
                              - sale
                            updated_at:
                              type:
                              - string
                              - 'null'
                              format: date
                            vacant_on_date:
                              type:
                              - string
                              - 'null'
                              format: date
                            internal_notes:
                              type:
                              - string
                              - 'null'
                              example: Notes
                              description: Internal notes visible only within the VTS platform for users with access to the Space.
                            depth:
                              type:
                              - string
                              - 'null'
                            frontage:
[...]
