openapi: 3.0.2
info:
  title: VTS Lease Account Admin Delinquencies API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants, buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com) per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Delinquencies
paths:
  /api/v1/delinquencies:
    get:
      summary: Fetches delinquencies
      description: Contains the delinquent leases in your portfolio
      tags:
      - Delinquencies
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: filter[status]
        in: query
        required: false
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Delinquencies for the Lease
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: delinquencies
                        id:
                          type: string
                          example: '1'
                        attributes:
                          type: object
                          properties:
                            lease_id:
                              type: string
                              example: '1'
                              deprecated: true
                              description: This attribute is deprecated, please use lease from the `relationships` object instead
                            current_amount:
                              type: number
                            total_amount:
                              type: number
                            charge_date:
                              type: string
                              format: date
                            charge_type:
                              type: string
                              example: late
                            payment_date:
                              type: string
                              nullable: true
                              format: date
                            created_at:
                              type: string
                              format: date-time
                            updated_at:
                              type: string
                              format: date-time
                        relationships:
                          description: The objects linked to a delinquency
                          type: object
                          properties:
                            lease:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
      operationId: get_api-v1-delinquencies
  /api/v1/delinquencies/{id}:
    patch:
      summary: Updates delinquency
      tags:
      - Delinquencies
      description: Updates a delinquency record on the lease
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Delinquency successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: delinquencies
                      id:
                        type: string
                        example: '1'
                      attributes:
                        type: object
                        properties:
                          lease_id:
                            type: string
                            example: '1'
                            deprecated: true
                            description: This attribute is deprecated, please use lease from the `relationships` object instead
                          current_amount:
                            type: number
                          total_amount:
                            type: number
                          charge_date:
                            type: string
                            format: date
                          charge_type:
                            type: string
                            example: late
                          payment_date:
                            type: string
                            nullable: true
                            format: date
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                      relationships:
                        description: The objects linked to a delinquency
                        type: object
                        properties:
                          lease:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                    example: '12345'
                                  type:
                                    type: string
                                    enum:
                                    - leases
                                    example: leases
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    format: uri
        '400':
          description: Parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Referenced lease not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        total_amount:
                          type: number
                        current_amount:
                          type: number
                        charge_date:
                          type: string
                          format: date
                        charge_type:
                          type: string
                          example: late
                        payment_date:
                          type: string
                          nullable: true
                          format: date
        required: true
      operationId: patch_api-v1-delinquencies-id
  /api/v1/leases/{lease_id}/delinquencies:
    post:
      summary: Creates delinquency
      tags:
      - Delinquencies
      description: Creates a delinquency record on the lease
      security:
      - basic_auth: []
      parameters:
      - name: lease_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Delinquency successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: delinquencies
                      id:
                        type: string
                        example: '1'
                      attributes:
                        type: object
                        properties:
                          lease_id:
                            type: string
                            example: '1'
                            deprecated: true
                            description: This attribute is deprecated, please use lease from the `relationships` object instead
                          current_amount:
                            type: number
                          total_amount:
                            type: number
                          charge_date:
                            type: string
                            format: date
                          charge_type:
                            type: string
                            example: late
                          payment_date:
                            type: string
                            nullable: true
                            format: date
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                      relationships:
                        description: The objects linked to a delinquency
                        type: object
                        properties:
                          lease:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                    example: '12345'
                                  type:
                                    type: string
                                    enum:
                                    - leases
                                    example: leases
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    format: uri
        '400':
          description: Parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Referenced lease not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '409':
          description: Duplicate record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      required:
                      - total_amount
                      - current_amount
                      - charge_date
                      - charge_type
                      properties:
                        total_amount:
                          type: number
                        current_amount:
                          type: number
                        charge_date:
                          type: string
                          format: date
                        charge_type:
                          type: string
                          example: late
                        payment_date:
                          type: string
                          nullable: true
                          format: date
        required: true
      operationId: post_api-v1-leases-lease-id-delinquencies
    get:
      summary: Fetches delinquencies
      description: Contains the delinquent leases in your portfolio
      tags:
      - Delinquencies
      security:
      - basic_auth: []
      parameters:
      - name: lease_id
        in: path
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: filter[status]
        in: query
        required: false
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Delinquencies for the Lease
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: delinquencies
                        id:
                          type: string
                          example: '1'
                        attributes:
                          type: object
                          properties:
                            lease_id:
                              type: string
                              example: '1'
                              deprecated: true
                              description: This attribute is deprecated, please use lease from the `relationships` object instead
                            current_amount:
                              type: number
                            total_amount:
                              type: number
                            charge_date:
                              type: string
                              format: date
                            charge_type:
                              type: string
                              example: late
                            payment_date:
                              type: string
                              nullable: true
                              format: date
                            created_at:
                              type: string
                              format: date-time
                            updated_at:
                              type: string
                              format: date-time
                        relationships:
                          description: The objects linked to a delinquency
                          type: object
                          properties:
                            lease:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
        '404':
          description: Referenced lease not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-leases-lease-id-delinquencies
  /api/v1/leases/{lease_id}/delinquencies/{id}:
    patch:
      summary: Updates delinquency
      tags:
      - Delinquencies
      description: Updates a delinquency record on the lease
      security:
      - basic_auth: []
      parameters:
      - name: lease_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Delinquency successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: delinquencies
                      id:
                        type: string
                        example: '1'
                      attributes:
                        type: object
                        properties:
                          lease_id:
                            type: string
                            example: '1'
                            deprecated: true
                            description: This attribute is deprecated, please use lease from the `relationships` object instead
                          current_amount:
                            type: number
                          total_amount:
                            type: number
                          charge_date:
                            type: string
                            format: date
                          charge_type:
                            type: string
                            example: late
                          payment_date:
                            type: string
                            nullable: true
                            format: date
                          created_at:
                            type: string
                            format: date-time
                          updated_at:
                            type: string
                            format: date-time
                      relationships:
                        description: The objects linked to a delinquency
                        type: object
                        properties:
                          lease:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                    example: '12345'
                                  type:
                                    type: string
                                    enum:
                                    - leases
                                    example: leases
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    format: uri
        '400':
          description: Parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Referenced lease not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        total_amount:
                          type: number
                        current_amount:
                          type: number
                        charge_date:
                          type: string
                          format: date
                        charge_type:
                          type: string
                          example: late
                        payment_date:
                          type: string
                          nullable: true
                          format: date
        required: true
      operationId: patch_api-v1-leases-lease-id-delinquencies-id
components:
  schemas:
    errors_object:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                nullable: true
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow with PKCE (VTS Activate / OIDC).
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox.vts.com/oauth/authorize
          tokenUrl: https://sandbox.vts.com/oauth/token
          refreshUrl: https://sandbox.vts.com/oauth/token
          scopes:
            read_write: Read and write access
            openid: OpenID Connect
            profile: Profile claims
            email: Email claim
x-apis-json:
  generated: '2026-07-21'
  method: searched
  source: https://readme.vts.com/reference (per-operation OpenAPI fragments, harvested & merged)
