openapi: 3.0.2
info:
  title: VTS Lease Account Admin Tenant Industries API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants, buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com) per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Tenant Industries
paths:
  /api/v1/tenant_industries:
    get:
      summary: Fetches tenant industries
      description: Contains more details on a given tenant's industry, including industry name and sector
      tags:
      - Tenant Industries
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns list of TenantIndustries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: tenant_industries
                        id:
                          type: string
                          example: '1'
                        attributes:
                          type: object
                          properties:
                            created_at:
                              type: string
                              format: date-time
                              description: The timestamp when this tenant industry was created
                            updated_at:
                              type: string
                              format: date-time
                              description: The timestamp when this tenant industry was last updated
                            name:
                              type: string
                              example: apparel & accessories
                            sector:
                              type: string
                              nullable: true
                              example: retail
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/tenant_industries
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/tenant_industries?page%5Bbefore%5D=MzE2NTI%253D
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/tenant_industries?page%5Bafter%5D=MzE2NjQ%253D
                    required:
                    - self
      operationId: get_api-v1-tenant-industries
  /api/v1/tenant_industries/{id}:
    get:
      summary: Retrieves specific tenant industry
      description: Contains more details on a given tenant's industry, including industry name and sector
      tags:
      - Tenant Industries
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested tenant_industry if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: tenant_industries
                      id:
                        type: string
                        example: '1'
                      attributes:
                        type: object
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: The timestamp when this tenant industry was created
                          updated_at:
                            type: string
                            format: date-time
                            description: The timestamp when this tenant industry was last updated
                          name:
                            type: string
                            example: apparel & accessories
                          sector:
                            type: string
                            nullable: true
                            example: retail
        '404':
          description: Requested tenant_industry does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-tenant-industries-id
components:
  schemas:
    errors_object:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                nullable: true
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow with PKCE (VTS Activate / OIDC).
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox.vts.com/oauth/authorize
          tokenUrl: https://sandbox.vts.com/oauth/token
          refreshUrl: https://sandbox.vts.com/oauth/token
          scopes:
            read_write: Read and write access
            openid: OpenID Connect
            profile: Profile claims
            email: Email claim
x-apis-json:
  generated: '2026-07-21'
  method: searched
  source: https://readme.vts.com/reference (per-operation OpenAPI fragments, harvested & merged)
