openapi: 3.0.2
info:
  title: VTS Lease Account Admin Options API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants, buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com) per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Options
paths:
  /api/v1/deal_terms/{deal_term_id}/options:
    get:
      summary: Fetches options for Deal Term
      description: Contains all options for a given deal term or lease term. Examples include encumbrances, renewals, and termination options
      tags:
      - Options
      security:
      - basic_auth: []
      parameters:
      - name: deal_term_id
        in: path
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Options
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_miscellaneous
                            example: options_miscellaneous
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                enum:
                                - audit rights
                                - cap on rates
                                - generator rights
                                - go dark
                                - landlord & tenant act 1954
                                - make good
                                - must lease
                                - other
                                - parking
                                - radius
                                - relocation
                                - set off rights
                                - signage
                                - special provisions
                                - storage
                                - sublease
                                - use
                                description: 'The type of option. Possible values: audit rights, cap on rates, generator rights, go dark, landlord & tenant act 1954, make good, must lease, other, parking, radius, relocation, set off rights, signage, special provisions, storage, sublease, use.'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_co_tenancy
                            example: options_co_tenancy
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                pattern: co-tenancy
                                example: co-tenancy
                                description: 'The type of option. Possible values: co-tenancy'
                              co_tenancy_type:
                                type: string
                                enum:
                                - named
                                - occupied
                                - null
                                nullable: true
                                description: 'The type of co-tenancy option. Possible values: named, occupied, null'
                              who_can_exercise:
                                type: string
                                enum:
                                - tenant
                                - landlord
                                - mutual
                                - null
                                nullable: true
                                description: 'Who is allowed to exercise the co-tenancy option. Possible values: tenant, landlord, mutual, null'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_contraction
                            example: options_contraction
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                pattern: contraction
                                example: contraction
                                description: 'The type of option. Possible values: contraction.'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                              minimum_size:
                                allOf:
                                - $ref: '#/components/schemas/measure_size'
                                - description: The minimum (smallest) size down to which the right-holder can contract the space
                              effective_date:
                                type: string
                                nullable: true
                                format: date
                                description: The date on which the right-holder chooses to exercise the right
                              notice_start_date:
                                type: string
                                nullable: true
                                format: date
                                description: The earliest date upon which the right-holder can exercise the right
                              notice_end_date:
                                type: string
                                nullable: true
                                format: date
                                description: The latest date on which the right-holder can exercise the right
                              type:
                                type: string
                                enum:
                                - tenant
                                - landlord
                                - mutual
                                - null
                                nullable: true
                                description: Identifies who is holding the right - who owns and benefits from the contraction right
                              fee:
                                allOf:
                                - $ref: '#/components/schemas/measure_money'
                                - description: Fee associated with exercising the right — if the right-holder chooses to do so
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_encumberance
                            example: options_encumberance
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                enum:
                                - rofo
                                - rofn
                                - rofr
                                description: 'The type of option. Possible values: rofo, rofn, rofr'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                              minimum_size:
                                allOf:
                                - $ref: '#/components/schemas/measure_size'
                                - description: The minimum size of the space under the purview of the ROFO clause
                              effective_date:
                                type: string
                                nullable: true
                                format: date
                                description: The date on which the right-holder chooses to exercise the right
                              notice_start_date:
                                type: string
                                nullable: true
                                format: date
                                description: The earliest date upon which the right-holder can exercise the right
                              notice_end_date:
                                type: string
                                nullable: true
                                format: date
                                description: The latest date on which the right-holder can exercise the right
                              rate_note:
                                type: string
                                nullable: true
                                description: Free text field to further explain the nature of the rate type
                              rate_type:
                                type: string
                                enum:
                                - variable
                                - fixed
                                - null
                                nullable: true
                                description: 'Describes the unit/rate for the cost of the next term. Possible values: variable, fixed'
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_exclusive_use
                            example: options_exclusive_use
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                pattern: exclusive use
                                example: exclusive use
                                description: 'The type of option. Possible values: exclusive use'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                              trigger_details:
                                type: string
                                nullable: true
                                description: A custom message detailing the nature of this tenant's exclusive use right that will appear elsewhere in VTS
                              remedy_details:
                                type: string
                                nullable: true
                                description: A custom message detailing how a new tenant might be able to negotiate or remedy potentially breaking an existing tenant's exclusive use right in VTS
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_purchase
                            example: options_purchase
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                pattern: purchase
                                example: purchase
                                description: 'The type of option. Possible values: purchase'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                              effective_date:
                                type: string
                                nullable: true
                                format: date
                                description: The date on which the right-holder chooses to exercise the right
                              notice_start_date:
                                type: string
                                nullable: true
                                format: date
                                description: The earliest date upon which the right-holder can exercise the right
                              notice_end_date:
                                type: string
                                nullable: true
                                format: date
                                description: The latest date on which the right-holder can exercise the right
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_rent_review
                            example: options_rent_review
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                pattern: rent review
                                example: rent review
                                description: 'The type of option. Possible values: rent review.'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                              effective_date:
                                type: string
                                nullable: true
                                format: date
                                description: The date on which the right-holder chooses to exercise the right
                              notice_end_date:
                                type: string
                                nullable: true
                                format: date
                                description: The latest date on which the right-holder can exercise the right
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_renewal
                            example: options_renewal
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                pattern: renewal
                                example: renewal
                                description: 'The type of option. Possible values: renewal.'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                              effective_date:
                                type: string
                                nullable: true
                                format: date
                                description: The date on which the right-holder chooses to exercise the right
                              minimum_size:
                                allOf:
                                - $ref: '#/components/schemas/measure_size'
                                - description: The minimum size of the space under the purview of the renewal clause
                              term:
                                allOf:
                                - $ref: '#/components/schemas/measure_size'
                                - description: Number of months
                              notice_end_date:
                                type: string
                                nullable: true
                                format: date
                                description: The latest date on which the right-holder can exercise the right
                              notice_start_date:
                                type: string
                                nullable: true
                                format: date
                                description: The earliest date upon which the right-holder can exercise the right
                              number_of_options:
                                type: integer
                                nullable: true
                                example: 1
                                description: Number of renewal options available
                              rate_note:
                                type: string
                                nullable: true
                                description: Free text field to further explain the nature of the rate type
                              rate_type:
                                type: string
                                nullable: true
                                description: 'Describes the unit/rate for the cost of the next term. Possible values: variable, fixed'
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_expansion
                            example: options_expansion
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                pattern: expansion
                                example: expansion
                                description: 'The type of option. Possible values: expansion'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                              effective_date:
                                type: string
                                nullable: true
                                format: date
                                description: The date on which the right-holder chooses to exercise the right
                              maximum_size:
                                allOf:
                                - $ref: '#/components/schemas/measure_size'
                                - description: The maximum size to which the tenant can expand per the clause
                              minimum_size:
                                allOf:
                                - $ref: '#/components/schemas/measure_size'
                                - description: The minimum size to which the tenant can expand per the clause
                              notice_end_date:
                                type: string
                                nullable: true
                                format: date
                                description: The latest date on which the right-holder can exercise the right
                              notice_start_date:
                                type: string
                                nullable: true
                                format: date
                                description: The earliest date upon which the right-holder can exercise the right
                              rate_note:
                                type: string
                                nullable: true
                                description: Free text field to further explain the nature of the rate type
                              rate_type:
                                type: string
                                nullable: true
                                description: 'Describes the unit/rate for the cost of the next term. Possible values: variable, fixed'
                              tenant_improvements:
                                allOf:
                                - $ref: '#/components/schemas/measure_money'
                                - description: The amount of tenant improvements alloted by the landlord in the expansion
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_termination
                            example: options_termination
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                enum:
                                - break
                                - kick out
                                - rights to terminate
                                description: 'The type of option. Possible values: break, kick out, rights to terminate'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                              termination_fee:
                                allOf:
                                - $ref: '#/components/schemas/measure_money'
                                - description: The fee associated with exercising the early termination
                              effective_date:
                                type: string
                                nullable: true
                                format: date
                                description: The date on which the right-holder chooses to exercise the right
                              notice_start_date:
                                type: string
                                nullable: true
                                format: date
                                description: The earliest date upon which the right-holder can exercise the right
                              notice_end_date:
                                type: string
                                nullable: true
                                format: date
                                description: The latest date on which the right-holder can exercise the right
                              rights_holder:
                                type: string
                                enum:
                                - tenant
                                - landlord
                                - mutual
                                - null
                                nullable: true
                                description: 'Possible values: tenant, landlord, mutual'
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                      prev:
                        type: string
                      next:
                        type: string
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-deal-terms-deal-term-id-options
  /api/v1/lease_terms/{lease_term_id}/options:
    get:
      summary: Fetches options for Lease Term
      description: Contains all options for a given deal term or lease term. Examples include encumbrances, renewals, and termination options
      tags:
      - Options
      security:
      - basic_auth: []
      parameters:
      - name: lease_term_id
        in: path
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Options
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_miscellaneous
                            example: options_miscellaneous
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                enum:
                                - audit rights
                                - cap on rates
                                - generator rights
                                - go dark
                                - landlord & tenant act 1954
                                - make good
                                - must lease
                                - other
                                - parking
                                - radius
                                - relocation
                                - set off rights
                                - signage
                                - special provisions
                                - storage
                                - sublease
                                - use
                                description: 'The type of option. Possible values: audit rights, cap on rates, generator rights, go dark, landlord & tenant act 1954, make good, must lease, other, parking, radius, relocation, set off rights, signage, special provisions, storage, sublease, use.'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_co_tenancy
                            example: options_co_tenancy
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                pattern: co-tenancy
                                example: co-tenancy
                                description: 'The type of option. Possible values: co-tenancy'
                              co_tenancy_type:
                                type: string
                                enum:
                                - named
                                - occupied
                                - null
                                nullable: true
                                description: 'The type of co-tenancy option. Possible values: named, occupied, null'
                              who_can_exercise:
                                type: string
                                enum:
                                - tenant
                                - landlord
                                - mutual
                                - null
                                nullable: true
                                description: 'Who is allowed to exercise the co-tenancy option. Possible values: tenant, landlord, mutual, null'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_contraction
                            example: options_contraction
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                pattern: contraction
                                example: contraction
                                description: 'The type of option. Possible values: contraction.'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                              minimum_size:
                                allOf:
                                - $ref: '#/components/schemas/measure_size'
                                - description: The minimum (smallest) size down to which the right-holder can contract the space
                              effective_date:
                                type: string
                                nullable: true
                                format: date
                                description: The date on which the right-holder chooses to exercise the right
                              notice_start_date:
                                type: string
                                nullable: true
                                format: date
                                description: The earliest date upon which the right-holder can exercise the right
                              notice_end_date:
                                type: string
                                nullable: true
                                format: date
                                description: The latest date on which the right-holder can exercise the right
                              type:
                                type: string
                                enum:
                                - tenant
                                - landlord
                                - mutual
                                - null
                                nullable: true
                                description: Identifies who is holding the right - who owns and benefits from the contraction right
                              fee:
                                allOf:
                                - $ref: '#/components/schemas/measure_money'
                                - description: Fee associated with exercising the right — if the right-holder chooses to do so
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_encumberance
                            example: options_encumberance
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                enum:
                                - rofo
                                - rofn
                                - rofr
                                description: 'The type of option. Possible values: rofo, rofn, rofr'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                              minimum_size:
                                allOf:
                                - $ref: '#/components/schemas/measure_size'
                                - description: The minimum size of the space under the purview of the ROFO clause
                              effective_date:
                                type: string
                                nullable: true
                                format: date
                                description: The date on which the right-holder chooses to exercise the right
                              notice_start_date:
                                type: string
                                nullable: true
                                format: date
                                description: The earliest date upon which the right-holder can exercise the right
                              notice_end_date:
                                type: string
                                nullable: true
                                format: date
                                description: The latest date on which the right-holder can exercise the right
                              rate_note:
                                type: string
                                nullable: true
                                description: Free text field to further explain the nature of the rate type
                              rate_type:
                                type: string
                                enum:
                                - variable
                                - fixed
                                - null
                                nullable: true
                                description: 'Describes the unit/rate for the cost of the next term. Possible values: variable, fixed'
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_exclusive_use
                            example: options_exclusive_use
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                pattern: exclusive use
                                example: exclusive use
                                description: 'The type of option. Possible values: exclusive use'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                              trigger_details:
                                type: string
                                nullable: true
                                description: A custom message detailing the nature of this tenant's exclusive use right that will appear elsewhere in VTS
                              remedy_details:
                                type: string
                                nullable: true
                                description: A custom message detailing how a new tenant might be able to negotiate or remedy potentially breaking an existing tenant's exclusive use right in VTS
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_purchase
                            example: options_purchase
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                pattern: purchase
                                example: purchase
                                description: 'The type of option. Possible values: purchase'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                              effective_date:
                                type: string
                                nullable: true
                                format: date
                                description: The date on which the right-holder chooses to exercise the right
                              notice_start_date:
                                type: string
                                nullable: true
                                format: date
                                description: The earliest date upon which the right-holder can exercise the right
                              notice_end_date:
                                type: string
                                nullable: true
                                format: date
                                description: The latest date on which the right-holder can exercise the right
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_rent_review
                            example: options_rent_review
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
                                type: string
                                pattern: rent review
                                example: rent review
                                description: 'The type of option. Possible values: rent review.'
                              description:
                                type: string
                                nullable: true
                                example: This is a description.
                                description: A description of the option
                              effective_date:
                                type: string
                                nullable: true
                                format: date
                                description: The date on which the right-holder chooses to exercise the right
                              notice_end_date:
                                type: string
                                nullable: true
                                format: date
                                description: The latest date on which the right-holder can exercise the right
                          relationships:
                            type: object
                            properties:
                              targets:
                                type: object
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      nullable: true
                                      properties:
                                        id:
                                          type: string
                                          example: '12345'
                                        type:
                                          type: string
                                          enum:
                                          - spaces_office
                                          example: spaces_office
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              lease_term:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - lease_terms
                                        example: lease_terms
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              proposal:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - proposals
                                        example: proposals
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: options_renewal
                            example: options_renewal
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              option_type:
[...]
