openapi: 3.0.2
info:
  title: VTS Lease Account Admin Leasing Availability API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants, buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com) per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Leasing Availability
paths:
  /api/v1/buildings:
    get:
      summary: Fetches a set of buildings
      description: Part of the Leasing Availability API, this fetches buildings on VTS Market associated with the account that the API key is generated for with information about the building and its available listings. Expected usage would be to make a portfolio page for the given account
      security:
      - basic_auth: []
      tags:
      - Leasing Availability
      parameters:
      - name: filter[city]
        in: query
        description: Filter by city name. Intended use is either a page for buildings of a given city or to populate a dropdown of cities
        required: false
        schema:
          type: string
      - name: filter[search]
        in: query
        description: Filter by a search string. Partial matches will match and the results will be ordered by the amount of match with buildings and which data element it matches on. Weighted highest for building name and address, then for city, then for state and country
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns a list of buildings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: buildings
                        id:
                          type: string
                          example: 20be22bd-7d79-47f6-a267-fc3492c5d90b
                        attributes:
                          type: object
                          description: A Building
                          properties:
                            abbreviated_region:
                              type: string
                              example: NY
                            amenities:
                              type: object
                              properties:
                                bar_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                barbershop:
                                  type: boolean
                                  nullable: true
                                  example: true
                                bike_storage_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                cafe_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                car_wash:
                                  type: boolean
                                  nullable: true
                                  example: true
                                cctv:
                                  type: boolean
                                  nullable: true
                                  example: true
                                common_area_wifi:
                                  type: boolean
                                  nullable: true
                                  example: true
                                communal_lobby_space:
                                  type: boolean
                                  nullable: true
                                  example: true
                                communal_outdoor_space:
                                  type: boolean
                                  nullable: true
                                  example: true
                                communal_roof_access:
                                  type: boolean
                                  nullable: true
                                  example: true
                                conference_center:
                                  type: boolean
                                  nullable: true
                                  example: true
                                controlled_elevator_access:
                                  type: boolean
                                  nullable: true
                                  example: true
                                covered_parking:
                                  type: boolean
                                  nullable: true
                                  example: true
                                destination_dispatch_elevators:
                                  type: boolean
                                  nullable: true
                                  example: true
                                event_space:
                                  type: boolean
                                  nullable: true
                                  example: true
                                flex_space_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                food_service_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                general_store_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                gym_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                key_card_building_entry:
                                  type: boolean
                                  nullable: true
                                  example: true
                                loading_dock:
                                  type: boolean
                                  nullable: true
                                  example: true
                                lobby_attendant:
                                  type: boolean
                                  nullable: true
                                  example: true
                                lobby_beverage_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                lobby_food_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                locker_rooms:
                                  type: boolean
                                  nullable: true
                                  example: true
                                messenger_center:
                                  type: boolean
                                  nullable: true
                                  example: true
                                networking_events:
                                  type: boolean
                                  nullable: true
                                  example: true
                                option_to_add_internet_service_provider:
                                  type: boolean
                                  nullable: true
                                  example: true
                                parking_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                parking_garage:
                                  type: boolean
                                  nullable: true
                                  example: true
                                pets_allowed:
                                  type: boolean
                                  nullable: true
                                  example: true
                                pharmacy_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                property_manager_on_site:
                                  type: boolean
                                  nullable: true
                                  example: true
                                restaurant_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                showers:
                                  type: boolean
                                  nullable: true
                                  example: true
                                shuttle:
                                  type: boolean
                                  nullable: true
                                  example: true
                                spa_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                storage_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                tenant_lounge:
                                  type: boolean
                                  nullable: true
                                  example: true
                                tenant_portal_app:
                                  type: boolean
                                  nullable: true
                                  example: true
                                touch_free_elevator_access:
                                  type: boolean
                                  nullable: true
                                  example: true
                                touchless_turnstile_entry:
                                  type: boolean
                                  nullable: true
                                  example: true
                                transportation_accessible:
                                  type: boolean
                                  nullable: true
                                  example: true
                                turnstiles:
                                  type: boolean
                                  nullable: true
                                  example: true
                                twenty_four_seven_access:
                                  type: boolean
                                  nullable: true
                                  example: true
                                twenty_four_seven_security:
                                  type: boolean
                                  nullable: true
                                  example: true
                                urgent_care_doctor_onsite:
                                  type: boolean
                                  nullable: true
                                  example: true
                                valet_parking:
                                  type: boolean
                                  nullable: true
                                  example: true
                                yoga_studio_available:
                                  type: boolean
                                  nullable: true
                                  example: true
                                electric_vehicle_charging_stations_count:
                                  type: integer
                                  nullable: true
                                  example: 1
                                passenger_elevator_count:
                                  type: integer
                                  nullable: true
                                  example: 1
                                service_elevator_count:
                                  type: integer
                                  nullable: true
                                  example: 1
                                leed_certification:
                                  type: string
                                  nullable: true
                                  example: Gold
                                wired_certification:
                                  type: string
                                  nullable: true
                                  example: Platinum
                            asset_types:
                              type: array
                              items:
                                type: string
                                example: industrial
                            banner_image:
                              type: object
                              properties:
                                path:
                                  type: string
                                  example: https://media.truva.com/path
                                small_path:
                                  type: string
                                  example: https://media.truva.com/t_small_image/path
                                description:
                                  type: string
                                  example: Building Photo
                              nullable: true
                            building_brochure:
                              type: object
                              nullable: true
                              example:
                                name: Brochure-name.pdf
                                url: https://download.link/whatever.pdf
                                id: 2
                            building_name:
                              type: string
                              nullable: true
                              example: Empire State Building
                            contacts:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                    example: 1
                                  first_name:
                                    type: string
                                    example: John
                                  last_name:
                                    type: string
                                    nullable: true
                                    example: Doe
                                  email:
                                    type: string
                                    example: whatever@whever.com
                                  role:
                                    type: string
                                    nullable: true
                                    example: CEO
                                  phone:
                                    type: string
                                    nullable: true
                                    example: 123-456-7890
                                  phone_extension:
                                    type: string
                                    nullable: true
                                    example: '1234'
                                  photo_url:
                                    type: string
                                    nullable: true
                                    example: https://media.truva.com/path
                                  company_logo_url:
                                    type: string
                                    nullable: true
                                    example: https://media.truva.com/path
                                  broker_licence_number:
                                    type: string
                                    nullable: true
                                    example: 'RC #192017'
                            country_code:
                              type: string
                              example: US
                            description:
                              type: string
                              nullable: true
                              example: This is a building
                            images:
                              type: array
                              items:
                                type: object
                                properties:
                                  path:
                                    type: string
                                    example: https://media.truva.com/path
                                  small_path:
                                    type: string
                                    example: https://media.truva.com/t_small_image/path
                                  description:
                                    type: string
                                    example: Building Photo
                                nullable: false
                            latitude:
                              type: number
                              example: 40.7128
                            listings:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: 45b13e12-057c-4136-8dde-06a375613465
                                  area:
                                    allOf:
                                    - $ref: '#/components/schemas/measure_area'
                                    - description: Area of the space of the listing
                                  asking_rent:
                                    type: object
                                    nullable: true
                                    properties:
                                      magnitude:
                                        type: number
                                        example: 10000
                                      type:
                                        type: string
                                        example: area
                                      units:
                                        type: object
                                        properties:
                                          area:
                                            type: string
                                            example: SquareFoot
                                          currency:
                                            type: string
                                            example: USD
                                          period:
                                            type: string
                                            example: month
                                  available:
                                    type: boolean
                                    example: true
                                  available_date:
                                    type: string
                                    nullable: true
                                    example: '2021-01-01'
                                  condition:
                                    type: string
                                    nullable: true
                                    example: white_box
                                  floor:
                                    type: string
                                    nullable: true
                                    example: '7'
                                  floor_plan:
                                    type: object
                                    properties:
                                      path:
                                        type: string
                                        example: https://media.truva.com/path
                                      small_path:
                                        type: string
                                        example: https://media.truva.com/t_small_image/path
                                      description:
                                        type: string
                                        example: Building Photo
                                    nullable: true
                                  hero_image:
                                    type: object
                                    properties:
                                      path:
                                        type: string
                                        example: https://media.truva.com/path
                                      small_path:
                                        type: string
                                        example: https://media.truva.com/t_small_image/path
                                      description:
                                        type: string
                                        example: Building Photo
                                    nullable: false
                                  lease_type:
                                    type: string
                                    example: direct
                                  listing_name:
                                    type: string
                                    example: 7th Floor, Room 204
                                  suite:
                                    type: string
                                    nullable: true
                                    example: '204'
                                  suite_type:
                                    type: string
                                    nullable: true
                                    example: room
                            locality:
                              type: string
                              example: New York
                            logo:
                              type: object
                              properties:
                                path:
                                  type: string
                                  example: https://media.truva.com/path
                                small_path:
                                  type: string
                                  example: https://media.truva.com/t_small_image/path
                                description:
                                  type: string
                                  example: Building Photo
                              nullable: true
                            longitude:
                              type: number
                              example: -74.006
                            marketplace_url:
                              type: string
                              nullable: true
                              example: https://marketplace.vts.com/market_buildings/id
                            notable_tenants:
                              type: array
                              items:
                                type: object
                                properties:
                                  company_name:
                                    type: string
                                    example: Company
                                  logo:
                                    type: string
                                    example: path
                            postal_code:
                              type: string
                              example: '10001'
                            rentable_area:
                              allOf:
                              - $ref: '#/components/schemas/measure_area'
                              - description: Area of the space of the listing
                            status:
                              type: string
                              example: active
                            street_address:
                              type: string
                              example: 123 Main St
                            submarket:
                              type: string
                              nullable: true
                              example: Bryant Park
                            video_url:
                              type: string
                              nullable: true
                              example: https://example.com
                            virtual_tour_url:
                              type: string
                              nullable: true
                              example: https://example.com
                            vts_property_id:
                              type: integer
                              example: 100
                            year_built:
                              type: integer
                              nullable: true
                              example: 1920
                            year_renovated:
                              type: integer
                              nullable: true
                              example: 2020
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/buildings?building_id=20be22bd-7d79-47f6-a267-fc3492c5d90b&page%5Bafter%5D=MzE2NTE%253D
                        description: The current URL
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/buildings?building_id=20be22bd-7d79-47f6-a267-fc3492c5d90b&page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the previous page of Buildings
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/buildings?building_id=20be22bd-7d79-47f6-a267-fc3492c5d90b&page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the next page of Buildings
                    required:
                    - self
                  meta:
                    type: object
                    properties:
                      all_cities:
                        type: array
                        items:
                          type: string
                          example: New York
                      total_buildings:
                        type: integer
                        example: 13
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-buildings
  /api/v1/buildings/{id}:
    get:
      summary: Fetches a specific building
      description: Part of the Leasing Availability API, this fetches a specific building on VTS Market with information about the building and its available listings. Expected usage would be to make a webpage about the building
      tags:
      - Leasing Availability
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested building if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: buildings
                      id:
                        type: string
                        example: 20be22bd-7d79-47f6-a267-fc3492c5d90b
                      attributes:
                        type: object
                        description: A Building
                        properties:
                          abbreviated_region:
                            type: string
                            example: NY
                          amenities:
                            type: object
                            properties:
                              bar_available:
                                type: boolean
                                nullable: true
                                example: true
                              barbershop:
                                type: boolean
                                nullable: true
                                example: true
                              bike_storage_available:
                                type: boolean
                                nullable: true
                                example: true
                              cafe_available:
                                type: boolean
                                nullable: true
                                example: true
                              car_wash:
                                type: boolean
                                nullable: true
                                example: true
                              cctv:
                                type: boolean
                                nullable: true
                                example: true
                              common_area_wifi:
                                type: boolean
                                nullable: true
                                example: true
                              communal_lobby_space:
                                type: boolean
                                nullable: true
                                example: true
                              communal_outdoor_space:
                                type: boolean
                                nullable: true
                                example: true
                              communal_roof_access:
                                type: boolean
                                nullable: true
                                example: true
                              conference_center:
                                type: boolean
                                nullable: true
                                example: true
                              controlled_elevator_access:
                                type: boolean
                                nullable: true
                                example: true
                              covered_parking:
                                type: boolean
                                nullable: true
                                example: true
                              destination_dispatch_elevators:
                                type: boolean
                                nullable: true
                                example: true
                              event_space:
                                type: boolean
                                nullable: true
                                example: true
                              flex_space_available:
                                type: boolean
                                nullable: true
                                example: true
                              food_service_available:
                                type: boolean
                                nullable: true
                                example: true
                              general_store_available:
                                type: boolean
                                nullable: true
                                example: true
                              gym_available:
                                type: boolean
                                nullable: true
                                example: true
                              key_card_building_entry:
                                type: boolean
                                nullable: true
                                example: true
                              loading_dock:
                                type: boolean
                                nullable: true
                                example: true
                              lobby_attendant:
                                type: boolean
                                nullable: true
                                example: true
                              lobby_beverage_available:
                                type: boolean
                                nullable: true
                                example: true
                              lobby_food_available:
                                type: boolean
                                nullable: true
                                example: true
                              locker_rooms:
                                type: boolean
                                nullable: true
                                example: true
                              messenger_center:
                                type: boolean
                                nullable: true
                                example: true
                              networking_events:
                                type: boolean
                                nullable: true
                                example: true
                              option_to_add_internet_service_provider:
                                type: boolean
                                nullable: true
                                example: true
                              parking_available:
                                type: boolean
                                nullable: true
                                example: true
                              parking_garage:
                                type: boolean
                                nullable: true
                                example: true
                              pets_allowed:
                                type: boolean
                                nullable: true
                                example: true
                              pharmacy_available:
                                type: boolean
                                nullable: true
                                example: true
                              property_manager_on_site:
                                type: boolean
                                nullable: true
                                example: true
                              restaurant_available:
                                type: boolean
                                nullable: true
                                example: true
                              showers:
                                type: boolean
                                nullable: true
                                example: true
                              shuttle:
                                type: boolean
                                nullable: true
                                example: true
                              spa_available:
                                type: boolean
                                nullable: true
                                example: true
                              storage_available:
                                type: boolean
                                nullable: true
                                example: true
                              tenant_lounge:
                                type: boolean
                                nullable: true
                                example: true
                              tenant_portal_app:
                                type: boolean
                                nullable: true
                                example: true
                              touch_free_elevator_access:
                                type: boolean
                                nullable: true
                                example: true
                              touchless_turnstile_entry:
                                type: boolean
                                nullable: true
                                example: true
                              transportation_accessible:
                                type: boolean
                                nullable: true
                                example: true
                              turnstiles:
                                type: boolean
                                nullable: true
                                example: true
                              twenty_four_seven_access:
                                type: boolean
                                nullable: true
                                example: true
                              twenty_four_seven_security:
                                type: boolean
                                nullable: true
                                example: true
                              urgent_care_doctor_onsite:
                                type: boolean
                                nullable: true
                                example: true
                              valet_parking:
                                type: boolean
                                nullable: true
                                example: true
                              yoga_studio_available:
                                type: boolean
                                nullable: true
                                example: true
                              electric_vehicle_charging_stations_count:
                                type: integer
                                nullable: true
                                example: 1
                              passenger_elevator_count:
                                type: integer
                                nullable: true
                                example: 1
                              service_elevator_count:
                                type: integer
                                nullable: true
                                example: 1
                              leed_certification:
                                type: string
                                nullable: true
                                example: Gold
                              wired_certification:
                                type: string
                                nullable: true
                                example: Platinum
                          asset_types:
                            type: array
                            items:
                              type: string
                              example: industrial
                          banner_image:
                            type: object
                            properties:
                              path:
                                type: string
                                example: https://media.truva.com/path
                              small_path:
                                type: string
                                example: https://media.truva.com/t_small_image/path
                              description:
                                type: string
                                example: Building Photo
                            nullable: true
                          building_brochure:
                            type: object
                            nullable: true
                            example:
                              name: Brochure-name.pdf
                              url: https://download.link/whatever.pdf
                              id: 2
                          building_name:
                            type: string
                            nullable: true
                            example: Empire State Building
                          contacts:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1
                                first_name:
                                  type: string
                                  example: John
                                last_name:
                                  type: string
                                  nullable: true
                                  example: Doe
                                email:
                                  type: string
                                  example: whatever@whever.com
                                role:
                                  type: string
                                  nullable: true
                                  example: CEO
                                phone:
                                  type: string
                                  nullable: true
                                  example: 123-456-7890
                                phone_extension:
                                  type: string
                                  nullable: true
                                  example: '1234'
                                photo_url:
                                  type: string
                                  nullable: true
                                  example: https://media.truva.com/path
                                company_logo_url:
                                  type: string
                                  nullable: true
                                  example: https://media.truva.com/path
                                broker_licence_number:
                                  type: string
                                  nullable: true
                                  example: 'RC #192017'
                          country_code:
                            type: string
                            example: US
                          description:
                            type: string
                            nullable: true
                            example: This is a building
                          images:
                            type: array
                            items:
                              type: object
                              properties:
                                path:
                                  type: string
                                  example: https://media.truva.com/path
                                small_path:
                                  type: string
                                  example: https://media.truva.com/t_small_image/path
                                description:
                                  type: string
                                  example: Building Photo
                              nullable: false
                          latitude:
                            type: number
                            example: 40.7128
                          listings:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: 45b13e12-057c-4136-8dde-06a375613465
                                area:
                                  allOf:
                                  - $ref: '#/components/schemas/measure_area'
                                  - description: Area of the space of the listing
                                asking_rent:
                                  type: object
                                  nullable: true
                                  properties:
                                    magnitude:
                                      type: number
                                      example: 10000
                                    type:
                                      type: string
                                      example: area
                                    units:
                                      type: object
                                      properties:
                                        area:
                                          type: string
                                          example: SquareFoot
                                        currency:
                                          type: string
                                          example: USD
                                        period:
                                          type: string
                                          example: month
                                available:
                                  type: boolean
                                  example: true
                                available_date:
                                  type: string
                                  nullable: true
                                  example: '2021-01-01'
                                condition:
                                  type: string
                                  nullable: true
                                  example: white_box
                                floor:
                                  type: string
                                  nullable: true
                                  example: '7'
                                floor_plan:
                                  type: object
                                  properties:
                                    path:
                                      type: string
                                      example: https://media.truva.com/path
                                    small_path:
                                      type: string
                                      example: https://media.truva.com/t_small_image/path
                                    description:
                                      type: string
                                      example: Building Photo
                                  nullable: true
                                hero_image:
                                  type: object
                                  properties:
                                    path:
                                      type: string
                                      example: https://media.truva.com/path
                                    small_path:
                                      type: string
                                      example: https://media.truva.com/t_small_image/path
                                    description:
                                      type: string
                                      example: Building Photo
                                  nullable: false
                                lease_type:
                                  type: string
                                  example: direct
                                listing_name:
                                  type: string
                                  example: 7th Floor, Room 204
                                suite:
                                  type: string
                                  nullable: true
                                  example: '204'
                                suite_type:
                                  type: string
                                  nullable: true
                                  example: room
                          locality:
                            type: string
                            example: New York
                          logo:
                            type: object
                            properties:
                              path:
                                type: string
                                example: https://media.truva.com/path
                              small_path:
                                type: string
                                example: https://media.truva.com/t_small_image/path
                              description:
                                type: string
                                example: Building Photo
                            nullable: true
                          longitude:
                            type: number
                            example: -74.006
                          marketplace_url:
                            type: string
                            nullable: true
                            example: https://marketplace.vts.com/market_buildings/id
                          notable_tenants:
                            type: array
                            items:
                              type: object
                              properties:
                                company_name:
                                  type: string
                                  example: Company
                                logo:
                                  type: string
                                  example: path
                          postal_code:
                            type: string
                            example: '10001'
                          rentable_area:
                            allOf:
                            - $ref: '#/components/schemas/measure_area'
                            - description: Area of the space of the listing
                          status:
                            type: string
                            example: active
                          street_address:
                            type: string
                            example: 123 Main St
                          submarket:
                            type: string
                            nullable: true
                            example: Bryant Park
                          video_url:
                            type: string
                            nullable: true
                            example: https://example.com
                          virtual_tour_url:
                            type: string
                            nullable: true
                            example: https://example.com
                          vts_property_id:
                            type: integer
                            example: 100
                          year_built:
                            type: integer
                            nullable: true
                            example: 1920
                          year_renovated:
                            type: integer
                            nullable: true
                            example: 2020
        '403':
          description: authenticated but does not have access to requested building
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Requested building does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-buildings-id
  /api/v1/listings/{id}:
    get:
      summary: Fetches a specific listing
      description: Part of the Leasing Availability API, this fetches a specific listing on VTS Market with information about the listing. Expected usage would be to make a webpage about the listing
      tags:
      - Leasing Availability
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested listing if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: listings
                      id:
                        type: string
                        example: 20be22bd-7d79-47f6-a267-fc3492c5d90b
                      attributes:
                        type: object
                        description: A Listing
                        properties:
                          area:
                            allOf:
                            - $ref: '#/components/schemas/measure_area'
                            - description: Area of the space of the listing
                          asking_rent:
                            type: object
                            nullable: true
                            properties:
                              magnitude:
                                type: number
                                example: 10000
                              type:
                                type: string
                                example: area
                              units:
                                type: object
                                properties:
                                  area:
                                    type: string
                                    example: SquareFoot
                                  currency:
                                    type: string
                                    example: USD
                                  period:
                                    type: string
                                    example: month
                          amenities:
                            type: object
                            properties:
                              break_out_space:
                                type: boolean
                                nullable: true
                                example: true
                              key_card_space_entry:
                                type: boolean
                                nullable: true
                                example: true
                              phone_booths:
                                type: boolean
                                nullable: true
                                example: true
                              private_outdoor_space:
                                type: boolean
                                nullable: true
                                example: true
                              shared_pantry:
                                type: boolean
                                nullable: true
                                example: true
                              passenger_elevator_count:
                                type: integer
                                nullable: true
                                example: 1
                              service_elevator_count:
                                type: integer
                                nullable: true
                                example: 1
                              furnished:
                                type: string
                                nullable: true
                                example: partial
                          condition:
                            type: string
                            nullable: true
                            example: white_box
                          contacts:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1
                                first_name:
                                  type: string
                                  example: John
                                last_name:
                                  type: string
                                  nullable: true
                                  example: Doe
                                email:
                                  type: string
                                  example: whatever@whever.com
                                role:
                                  type: string
                                  nullable: true
                                  example: CEO
                                phone:
                                  type: string
                                  nullable: true
                                  example: 123-456-7890
                                phone_extension:
                                  type: string
                                  nullable: true
                                  example: '1234'
                                photo_url:
                                  type: string
                                  nullable: true
                                  example: https://media.truva.com/path
                                company_logo_url:
                                  type: string
                                  nullable: true
                                  example: https://media.truva.com/path
                                broker_licence_number:
                                  type: string
                                  nullable: true
                                  example: 'RC #192017'
                          images:
                            type: array
                            items:
                              type: object
                              properties:
                                path:
                                  type: string
                                  example: https://media.truva.com/path
                                small_path:
                                  type: string
                                  example: https://media.truva.com/t_small_image/path
                                description:
                                  type: string
                                  example: Building Photo
                              nullable: false
                          available:
                            type: boolean
                            example: true
                          available_date:
                            type: string
                            nullable: true
                            example: '2021-01-01'
                          listing_brochure:
                            type: object
                            example:
                              name: Brochure-name.pdf
                              url: https://download.link/whatever.pdf
                              id: 2
                          description:
                            type: string
                            example: This is a listing
                          floor:
                            type: string
                            example: '1'
                          floor_plan:
                            type: object
                            properties:
                              path:
                                type: string
                                example: https://media.truva.com/path
                              small_path:
                                type: string
                                example: https://media.truva.com/t_small_image/path
                              description:
                                type: string
                                example: Building Photo
                            nullable: true
                          marketplace_url:
                            type: string
                            example: https://marketplace.vts.com/market_listings/:id
                          listing_name:
                            type: string
                            example: 1st Floor, Room 101
                          status:
                            type: string
                            example: on_market
                          suite:
                            type: string
                            example: '101'
                          suite_type:
                            type: string
                            example: room
                          video_url:
                            type: string
                            example: https://marketplace.vts.com/listing/abc/video
                          virtual_tour_url:
                            type: string
                            example: https://marketplace.vts.com/listing/abc/3dtour
                          area_maximum_contiguous:
                            allOf:
                            - $ref: '#/components/schemas/measure_area'
                            - description: Maximum contiguous area of the space of the listing
                          area_minimum_divisible:
                            allOf:
                            - $ref: '#/components/schemas/measure_area'
                            - description: Minimum divisible area of the space of the listing
                          ceiling_height_finished:
                            allOf:
                            - $ref: '#/components/schemas/measure_area'
                            - description: Minimum divisible area of the space of the listing
                          ceiling_height_slab_to_slab:
                            allOf:
                            - $ref: '#/components/schemas/measure_area'
                            - description: Minimum divisible area of the space of the listing
                          building_id:
                            type: string
                            example: 20be22bd-7d79-47f6-a267-fc3492c5d90b
                          floor_composition:
                            type: string
                            nullable: true
                            example: entire
                          vts_space_id:
                            type: integer
                            nullable: true
                            example: 1
                          lease_type:
                            type: string
                            example: direct
        '403':
          description: authenticated but does not have access to requested listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Requested listing does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-listings-id
components:
  schemas:
    measure_area:
      type: object
      nullable: true
      properties:
        magnitude:
          type: number
          format: float
          example: 1000
        unit:
          type: string
          enum:
          - sf
          - sm
          example: sf
          description: 'Possible values: ''sf'' for square feet, ''sm'' for square meters'
        unit_components:
          type: object
          properties:
            area:
              type: string
              enum:
              - sf
              - sm
        type:
          type: string
          pattern: area
          example: area
    errors_object:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                nullable: true
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow with PKCE (VTS Activate / OIDC).
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox.vts.com/oauth/authorize
          tokenUrl: https://sandbox.vts.com/oauth/token
          refreshUrl: https://sandbox.vts.com/oauth/token
          scopes:
            read_write: Read and write access
            openid: OpenID Connect
            profile: Profile claims
            email: Email claim
x-apis-json:
  generated: '2026-07-21'
  method: searched
  source: https://readme.vts.com/reference (per-operation OpenAPI fragments, harvested & merged)
