openapi: 3.0.2
info:
  title: VTS Lease Account Admin Deal Tasks API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants, buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com) per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Deal Tasks
paths:
  /api/v1/deal_tasks:
    get:
      summary: Fetches deal tasks
      tags:
      - Deal Tasks
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        description: 'The number of items returned for any one page (default: 10, max: 100)'
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        description: Show records before the given page indicator
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        description: Show records after the given page indicator
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Deal Tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                        attributes:
                          type: object
                          properties:
                            description:
                              type: string
                              example: This is a deal task
                              description: Description of the deal task
                            required:
                              type: boolean
                              example: false
                              description: Whether or not the task is required before the deal can move to the next stage
                            completed:
                              type: boolean
                              example: false
                              description: Whether or not the task is complete
                            completed_at:
                              type: string
                              format: date-time
                              description: Description of the deal task
                            created_at:
                              type: string
                              format: date-time
                              description: The timestamp when this deal task was created
                            updated_at:
                              type: string
                              format: date-time
                              description: The timestamp when this deal task was last updated
                        relationships:
                          description: The objects linked to a deal task
                          type: object
                          properties:
                            deal:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - deals
                                      example: deals
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            assignee:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - users
                                      example: users
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            completed_by:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - users
                                      example: users
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/deals/123/tasks?page%5Bafter%5D=MzE2NTE%253D
                        description: The current URL
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/deals/123/tasks?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the previous page of Deal Tasks
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/deals/123/tasks?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the next page of Deal Tasks
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-deal-tasks
  /api/v1/deal_tasks/{id}:
    get:
      summary: Retrieves Tasks for Given Deal for Specific Account
      tags:
      - Deal Tasks
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested account deal task if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                      id:
                        type: string
                      attributes:
                        type: object
                        properties:
                          description:
                            type: string
                            example: This is a deal task
                            description: Description of the deal task
                          required:
                            type: boolean
                            example: false
                            description: Whether or not the task is required before the deal can move to the next stage
                          completed:
                            type: boolean
                            example: false
                            description: Whether or not the task is complete
                          completed_at:
                            type: string
                            format: date-time
                            description: Description of the deal task
                          created_at:
                            type: string
                            format: date-time
                            description: The timestamp when this deal task was created
                          updated_at:
                            type: string
                            format: date-time
                            description: The timestamp when this deal task was last updated
                      relationships:
                        description: The objects linked to a deal task
                        type: object
                        properties:
                          deal:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                    example: '12345'
                                  type:
                                    type: string
                                    enum:
                                    - deals
                                    example: deals
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    format: uri
                          assignee:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                    example: '12345'
                                  type:
                                    type: string
                                    enum:
                                    - users
                                    example: users
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    format: uri
                          completed_by:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                    example: '12345'
                                  type:
                                    type: string
                                    enum:
                                    - users
                                    example: users
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    format: uri
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Requested deal task does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-deal-tasks-id
  /api/v1/deals/{deal_id}/tasks:
    get:
      summary: Fetches deal tasks for a Deal
      tags:
      - Deal Tasks
      security:
      - basic_auth: []
      parameters:
      - name: deal_id
        in: path
        required: true
        description: ID of the deal containing the tasks
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        description: 'The number of items returned for any one page (default: 10, max: 100)'
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        description: Show records before the given page indicator
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        description: Show records after the given page indicator
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Deal Tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                        attributes:
                          type: object
                          properties:
                            description:
                              type: string
                              example: This is a deal task
                              description: Description of the deal task
                            required:
                              type: boolean
                              example: false
                              description: Whether or not the task is required before the deal can move to the next stage
                            completed:
                              type: boolean
                              example: false
                              description: Whether or not the task is complete
                            completed_at:
                              type: string
                              format: date-time
                              description: Description of the deal task
                            created_at:
                              type: string
                              format: date-time
                              description: The timestamp when this deal task was created
                            updated_at:
                              type: string
                              format: date-time
                              description: The timestamp when this deal task was last updated
                        relationships:
                          description: The objects linked to a deal task
                          type: object
                          properties:
                            deal:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - deals
                                      example: deals
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            assignee:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - users
                                      example: users
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            completed_by:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - users
                                      example: users
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/deals/123/tasks?page%5Bafter%5D=MzE2NTE%253D
                        description: The current URL
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/deals/123/tasks?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the previous page of Deal Tasks
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/deals/123/tasks?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the next page of Deal Tasks
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-deals-deal-id-tasks
components:
  schemas:
    errors_object:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                nullable: true
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow with PKCE (VTS Activate / OIDC).
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox.vts.com/oauth/authorize
          tokenUrl: https://sandbox.vts.com/oauth/token
          refreshUrl: https://sandbox.vts.com/oauth/token
          scopes:
            read_write: Read and write access
            openid: OpenID Connect
            profile: Profile claims
            email: Email claim
x-apis-json:
  generated: '2026-07-21'
  method: searched
  source: https://readme.vts.com/reference (per-operation OpenAPI fragments, harvested & merged)
