openapi: 3.0.2
info:
  title: VTS Lease Account Admin Spaces API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants, buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com) per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Spaces
paths:
  /api/v1/spaces:
    get:
      summary: Fetches spaces
      description: Contains the spaces in your portfolio. Spaces are sub-components of assets
      tags:
      - Spaces
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: filter[deal_id]
        in: query
        required: false
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Spaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: spaces_industrial
                            example: spaces_industrial
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              archived_date:
                                type: string
                                nullable: true
                                format: date
                              availability_date:
                                type: string
                                format: date
                                nullable: true
                              availability_type:
                                type: string
                                example: arranged
                                enum:
                                - arranged
                                - immediate
                                - month to month
                                - not available
                                - specified
                                description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                              created_at:
                                type: string
                                nullable: true
                                format: date-time
                              current_size:
                                $ref: '#/components/schemas/measure_size'
                              description:
                                type: string
                                nullable: true
                              external_ids:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    system_id:
                                      type: string
                                      nullable: true
                                    system_name:
                                      type: string
                                      nullable: true
                              floor:
                                type: object
                                properties:
                                  composition:
                                    type: string
                                    nullable: true
                                  name:
                                    type: string
                                  position:
                                    type: number
                              hypothetical_space:
                                type: boolean
                              lease_type:
                                type: string
                                enum:
                                - direct
                                - renewal
                                - sublease
                              listing_date:
                                type: string
                                nullable: true
                                format: date
                              market_rent:
                                $ref: '#/components/schemas/measure_money'
                              maximum_contiguous_size:
                                $ref: '#/components/schemas/measure_size'
                              minimum_divisible_size:
                                $ref: '#/components/schemas/measure_size'
                              occupancy_status:
                                type: string
                                nullable: true
                              position:
                                type: number
                                nullable: true
                              price_is_negotiable:
                                type: boolean
                              public:
                                type: boolean
                              remeasured_space_available:
                                type: string
                                nullable: true
                              rental_pay_type:
                                type: string
                                enum:
                                - amt_month
                                - amt_year
                                - psf_month
                                - psf_year
                                nullable: true
                              rental_rate_max:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              rental_rate_min:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              sale_price:
                                $ref: '#/components/schemas/measure_money'
                              sourceid:
                                type: string
                                nullable: true
                              space_condition:
                                type: string
                                enum:
                                - 2nd generation
                                - category a+
                                - challenged
                                - core and shell
                                - floor and shell
                                - pre-built
                                - pre-existing
                                - raw
                                - turnkey
                                - under construction
                                - white box
                                nullable: true
                              space_type:
                                type: string
                                nullable: true
                                enum:
                                - office
                                - retail
                                - industrial_warehouse
                                - telecom
                                - storage
                                - flex
                                - parking
                                - amenities
                                - rooftop
                                - other
                                - lab
                                - manufacturing
                                - residential
                                - medical_office
                                - education
                                - restaurant
                                - leisure
                                - unspecified
                                - null
                              subtitle:
                                type: string
                                nullable: true
                              suite:
                                type: string
                                nullable: true
                              term_duration:
                                type: string
                                nullable: true
                              transaction_type:
                                type: string
                                enum:
                                - lease
                                - sale
                                nullable: true
                              updated_at:
                                type: string
                                nullable: true
                                format: date
                              vacant_on_date:
                                type: string
                                nullable: true
                                format: date
                              internal_notes:
                                type: string
                                nullable: true
                                example: Notes
                                description: Internal notes visible only within the VTS platform for users with access to the Space.
                              clear_height:
                                type: string
                                nullable: true
                              depth:
                                type: string
                                nullable: true
                              dock_height:
                                type: string
                                nullable: true
                              ground_level_doors:
                                type: string
                                nullable: true
                              office_portion:
                                type: string
                                nullable: true
                              trailer_parking:
                                type: string
                                nullable: true
                              yard:
                                type: string
                                nullable: true
                              ceiling_height:
                                type: string
                                nullable: true
                              column_spacing:
                                type: string
                                nullable: true
                              electrical:
                                type: string
                                nullable: true
                              hvac:
                                type: string
                                nullable: true
                              parking:
                                type: string
                                nullable: true
                              roof:
                                type: string
                                nullable: true
                              sprinklers:
                                type: string
                                nullable: true
                          relationships:
                            type: object
                            properties:
                              in_place_lease:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              committed_lease:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              last_expired_lease:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              asset:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - assets
                                        example: assets
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: spaces_office
                            example: spaces_office
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              archived_date:
                                type: string
                                nullable: true
                                format: date
                              availability_date:
                                type: string
                                format: date
                                nullable: true
                              availability_type:
                                type: string
                                example: arranged
                                enum:
                                - arranged
                                - immediate
                                - month to month
                                - not available
                                - specified
                                description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                              created_at:
                                type: string
                                nullable: true
                                format: date-time
                              current_size:
                                $ref: '#/components/schemas/measure_size'
                              description:
                                type: string
                                nullable: true
                              external_ids:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    system_id:
                                      type: string
                                      nullable: true
                                    system_name:
                                      type: string
                                      nullable: true
                              floor:
                                type: object
                                properties:
                                  composition:
                                    type: string
                                    nullable: true
                                  name:
                                    type: string
                                  position:
                                    type: number
                              hypothetical_space:
                                type: boolean
                              lease_type:
                                type: string
                                enum:
                                - direct
                                - renewal
                                - sublease
                              listing_date:
                                type: string
                                nullable: true
                                format: date
                              market_rent:
                                $ref: '#/components/schemas/measure_money'
                              maximum_contiguous_size:
                                $ref: '#/components/schemas/measure_size'
                              minimum_divisible_size:
                                $ref: '#/components/schemas/measure_size'
                              occupancy_status:
                                type: string
                                nullable: true
                              position:
                                type: number
                                nullable: true
                              price_is_negotiable:
                                type: boolean
                              public:
                                type: boolean
                              remeasured_space_available:
                                type: string
                                nullable: true
                              rental_pay_type:
                                type: string
                                enum:
                                - amt_month
                                - amt_year
                                - psf_month
                                - psf_year
                                nullable: true
                              rental_rate_max:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              rental_rate_min:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              sale_price:
                                $ref: '#/components/schemas/measure_money'
                              sourceid:
                                type: string
                                nullable: true
                              space_condition:
                                type: string
                                enum:
                                - 2nd generation
                                - category a+
                                - challenged
                                - core and shell
                                - floor and shell
                                - pre-built
                                - pre-existing
                                - raw
                                - turnkey
                                - under construction
                                - white box
                                nullable: true
                              space_type:
                                type: string
                                nullable: true
                                enum:
                                - office
                                - retail
                                - industrial_warehouse
                                - telecom
                                - storage
                                - flex
                                - parking
                                - amenities
                                - rooftop
                                - other
                                - lab
                                - manufacturing
                                - residential
                                - medical_office
                                - education
                                - restaurant
                                - leisure
                                - unspecified
                                - null
                              subtitle:
                                type: string
                                nullable: true
                              suite:
                                type: string
                                nullable: true
                              term_duration:
                                type: string
                                nullable: true
                              transaction_type:
                                type: string
                                enum:
                                - lease
                                - sale
                                nullable: true
                              updated_at:
                                type: string
                                nullable: true
                                format: date
                              vacant_on_date:
                                type: string
                                nullable: true
                                format: date
                              internal_notes:
                                type: string
                                nullable: true
                                example: Notes
                                description: Internal notes visible only within the VTS platform for users with access to the Space.
                              ceiling_height:
                                type: string
                                nullable: true
                              column_spacing:
                                type: string
                                nullable: true
                              electrical:
                                type: string
                                nullable: true
                              hvac:
                                type: string
                                nullable: true
                              parking:
                                type: string
                                nullable: true
                              roof:
                                type: string
                                nullable: true
                              sprinklers:
                                type: string
                                nullable: true
                          relationships:
                            type: object
                            properties:
                              in_place_lease:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              committed_lease:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              last_expired_lease:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              asset:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - assets
                                        example: assets
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: spaces_retail
                            example: spaces_retail
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              archived_date:
                                type: string
                                nullable: true
                                format: date
                              availability_date:
                                type: string
                                format: date
                                nullable: true
                              availability_type:
                                type: string
                                example: arranged
                                enum:
                                - arranged
                                - immediate
                                - month to month
                                - not available
                                - specified
                                description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                              created_at:
                                type: string
                                nullable: true
                                format: date-time
                              current_size:
                                $ref: '#/components/schemas/measure_size'
                              description:
                                type: string
                                nullable: true
                              external_ids:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    system_id:
                                      type: string
                                      nullable: true
                                    system_name:
                                      type: string
                                      nullable: true
                              floor:
                                type: object
                                properties:
                                  composition:
                                    type: string
                                    nullable: true
                                  name:
                                    type: string
                                  position:
                                    type: number
                              hypothetical_space:
                                type: boolean
                              lease_type:
                                type: string
                                enum:
                                - direct
                                - renewal
                                - sublease
                              listing_date:
                                type: string
                                nullable: true
                                format: date
                              market_rent:
                                $ref: '#/components/schemas/measure_money'
                              maximum_contiguous_size:
                                $ref: '#/components/schemas/measure_size'
                              minimum_divisible_size:
                                $ref: '#/components/schemas/measure_size'
                              occupancy_status:
                                type: string
                                nullable: true
                              position:
                                type: number
                                nullable: true
                              price_is_negotiable:
                                type: boolean
                              public:
                                type: boolean
                              remeasured_space_available:
                                type: string
                                nullable: true
                              rental_pay_type:
                                type: string
                                enum:
                                - amt_month
                                - amt_year
                                - psf_month
                                - psf_year
                                nullable: true
                              rental_rate_max:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              rental_rate_min:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              sale_price:
                                $ref: '#/components/schemas/measure_money'
                              sourceid:
                                type: string
                                nullable: true
                              space_condition:
                                type: string
                                enum:
                                - 2nd generation
                                - category a+
                                - challenged
                                - core and shell
                                - floor and shell
                                - pre-built
                                - pre-existing
                                - raw
                                - turnkey
                                - under construction
                                - white box
                                nullable: true
                              space_type:
                                type: string
                                nullable: true
                                enum:
                                - office
                                - retail
                                - industrial_warehouse
                                - telecom
                                - storage
                                - flex
                                - parking
                                - amenities
                                - rooftop
                                - other
                                - lab
                                - manufacturing
                                - residential
                                - medical_office
                                - education
                                - restaurant
                                - leisure
                                - unspecified
                                - null
                              subtitle:
                                type: string
                                nullable: true
                              suite:
                                type: string
                                nullable: true
                              term_duration:
                                type: string
                                nullable: true
                              transaction_type:
                                type: string
                                enum:
                                - lease
                                - sale
                                nullable: true
                              updated_at:
                                type: string
                                nullable: true
                                format: date
                              vacant_on_date:
                                type: string
                                nullable: true
                                format: date
                              internal_notes:
                                type: string
                                nullable: true
                                example: Notes
                                description: Internal notes visible only within the VTS platform for users with access to the Space.
                              depth:
                                type: string
                                nullable: true
                              frontage:
                                type: number
                                nullable: true
                              retail_space_type:
                                type: object
                                nullable: true
                              ceiling_height:
                                type: string
                                nullable: true
                              column_spacing:
                                type: string
                                nullable: true
                              electrical:
                                type: string
                                nullable: true
                              hvac:
                                type: string
                                nullable: true
                              parking:
                                type: string
                                nullable: true
                              roof:
                                type: string
                                nullable: true
                              sprinklers:
                                type: string
                                nullable: true
                          relationships:
                            type: object
                            properties:
                              in_place_lease:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              committed_lease:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              last_expired_lease:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              asset:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - assets
                                        example: assets
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                      - type: object
                        properties:
                          type:
                            type: string
                            pattern: spaces_miscellaneous
                            example: spaces_miscellaneous
                          id:
                            type: string
                            example: '1'
                          attributes:
                            type: object
                            properties:
                              archived_date:
                                type: string
                                nullable: true
                                format: date
                              availability_date:
                                type: string
                                format: date
                                nullable: true
                              availability_type:
                                type: string
                                example: arranged
                                enum:
                                - arranged
                                - immediate
                                - month to month
                                - not available
                                - specified
                                description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                              created_at:
                                type: string
                                nullable: true
                                format: date-time
                              current_size:
                                $ref: '#/components/schemas/measure_size'
                              description:
                                type: string
                                nullable: true
                              external_ids:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    system_id:
                                      type: string
                                      nullable: true
                                    system_name:
                                      type: string
                                      nullable: true
                              floor:
                                type: object
                                properties:
                                  composition:
                                    type: string
                                    nullable: true
                                  name:
                                    type: string
                                  position:
                                    type: number
                              hypothetical_space:
                                type: boolean
                              lease_type:
                                type: string
                                enum:
                                - direct
                                - renewal
                                - sublease
                              listing_date:
                                type: string
                                nullable: true
                                format: date
                              market_rent:
                                $ref: '#/components/schemas/measure_money'
                              maximum_contiguous_size:
                                $ref: '#/components/schemas/measure_size'
                              minimum_divisible_size:
                                $ref: '#/components/schemas/measure_size'
                              occupancy_status:
                                type: string
                                nullable: true
                              position:
                                type: number
                                nullable: true
                              price_is_negotiable:
                                type: boolean
                              public:
                                type: boolean
                              remeasured_space_available:
                                type: string
                                nullable: true
                              rental_pay_type:
                                type: string
                                enum:
                                - amt_month
                                - amt_year
                                - psf_month
                                - psf_year
                                nullable: true
                              rental_rate_max:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              rental_rate_min:
                                oneOf:
                                - $ref: '#/components/schemas/measure_money_period'
                                - $ref: '#/components/schemas/measure_money_area_period'
                              sale_price:
                                $ref: '#/components/schemas/measure_money'
                              sourceid:
                                type: string
                                nullable: true
                              space_condition:
                                type: string
                                enum:
                                - 2nd generation
                                - category a+
                                - challenged
                                - core and shell
                                - floor and shell
                                - pre-built
                                - pre-existing
                                - raw
                                - turnkey
                                - under construction
                                - white box
                                nullable: true
                              space_type:
                                type: string
                                nullable: true
                                enum:
                                - office
                                - retail
                                - industrial_warehouse
                                - telecom
                                - storage
                                - flex
                                - parking
                                - amenities
                                - rooftop
                                - other
                                - lab
                                - manufacturing
                                - residential
                                - medical_office
                                - education
                                - restaurant
                                - leisure
                                - unspecified
                                - null
                              subtitle:
                                type: string
                                nullable: true
                              suite:
                                type: string
                                nullable: true
                              term_duration:
                                type: string
                                nullable: true
                              transaction_type:
                                type: string
                                enum:
                                - lease
                                - sale
                                nullable: true
                              updated_at:
                                type: string
                                nullable: true
                                format: date
                              vacant_on_date:
                                type: string
                                nullable: true
                                format: date
                              internal_notes:
                                type: string
                                nullable: true
                                example: Notes
                                description: Internal notes visible only within the VTS platform for users with access to the Space.
                          relationships:
                            type: object
                            properties:
                              in_place_lease:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              committed_lease:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              last_expired_lease:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - leases
                                        example: leases
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                              asset:
                                type: object
                                properties:
                                  data:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - assets
                                        example: assets
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        format: uri
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/spaces
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/spaces?page%5Bbefore%5D=MzE2NTI%253D
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/spaces?page%5Bafter%5D=MzE2NjQ%253D
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-spaces
  /api/v1/spaces/{id}:
    get:
      summary: Retrieves specific space
      description: Contains the spaces in your portfolio. Spaces are sub-components of assets
      tags:
      - Spaces
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested space if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                    - type: object
                      properties:
                        type:
                          type: string
                          pattern: spaces_industrial
                          example: spaces_industrial
                        id:
                          type: string
                          example: '1'
                        attributes:
                          type: object
                          properties:
                            archived_date:
                              type: string
                              nullable: true
                              format: date
                            availability_date:
                              type: string
                              format: date
                              nullable: true
                            availability_type:
                              type: string
                              example: arranged
                              enum:
                              - arranged
                              - immediate
                              - month to month
                              - not available
                              - specified
                              description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                            created_at:
                              type: string
                              nullable: true
                              format: date-time
                            current_size:
                              $ref: '#/components/schemas/measure_size'
                            description:
                              type: string
                              nullable: true
                            external_ids:
                              type: array
                              items:
                                type: object
                                properties:
                                  system_id:
                                    type: string
                                    nullable: true
                                  system_name:
                                    type: string
                                    nullable: true
                            floor:
                              type: object
                              properties:
                                composition:
                                  type: string
                                  nullable: true
                                name:
                                  type: string
                                position:
                                  type: number
                            hypothetical_space:
                              type: boolean
                            lease_type:
                              type: string
                              enum:
                              - direct
                              - renewal
                              - sublease
                            listing_date:
                              type: string
                              nullable: true
                              format: date
                            market_rent:
                              $ref: '#/components/schemas/measure_money'
                            maximum_contiguous_size:
                              $ref: '#/components/schemas/measure_size'
                            minimum_divisible_size:
                              $ref: '#/components/schemas/measure_size'
                            occupancy_status:
                              type: string
                              nullable: true
                            position:
                              type: number
                              nullable: true
                            price_is_negotiable:
                              type: boolean
                            public:
                              type: boolean
                            remeasured_space_available:
                              type: string
                              nullable: true
                            rental_pay_type:
                              type: string
                              enum:
                              - amt_month
                              - amt_year
                              - psf_month
                              - psf_year
                              nullable: true
                            rental_rate_max:
                              oneOf:
                              - $ref: '#/components/schemas/measure_money_period'
                              - $ref: '#/components/schemas/measure_money_area_period'
                            rental_rate_min:
                              oneOf:
                              - $ref: '#/components/schemas/measure_money_period'
                              - $ref: '#/components/schemas/measure_money_area_period'
                            sale_price:
                              $ref: '#/components/schemas/measure_money'
                            sourceid:
                              type: string
                              nullable: true
                            space_condition:
                              type: string
                              enum:
                              - 2nd generation
                              - category a+
                              - challenged
                              - core and shell
                              - floor and shell
                              - pre-built
                              - pre-existing
                              - raw
                              - turnkey
                              - under construction
                              - white box
                              nullable: true
                            space_type:
                              type: string
                              nullable: true
                              enum:
                              - office
                              - retail
                              - industrial_warehouse
                              - telecom
                              - storage
                              - flex
                              - parking
                              - amenities
                              - rooftop
                              - other
                              - lab
                              - manufacturing
                              - residential
                              - medical_office
                              - education
                              - restaurant
                              - leisure
                              - unspecified
                              - null
                            subtitle:
                              type: string
                              nullable: true
                            suite:
                              type: string
                              nullable: true
                            term_duration:
                              type: string
                              nullable: true
                            transaction_type:
                              type: string
                              enum:
                              - lease
                              - sale
                              nullable: true
                            updated_at:
                              type: string
                              nullable: true
                              format: date
                            vacant_on_date:
                              type: string
                              nullable: true
                              format: date
                            internal_notes:
                              type: string
                              nullable: true
                              example: Notes
                              description: Internal notes visible only within the VTS platform for users with access to the Space.
                            clear_height:
                              type: string
                              nullable: true
                            depth:
                              type: string
                              nullable: true
                            dock_height:
                              type: string
                              nullable: true
                            ground_level_doors:
                              type: string
                              nullable: true
                            office_portion:
                              type: string
                              nullable: true
                            trailer_parking:
                              type: string
                              nullable: true
                            yard:
                              type: string
                              nullable: true
                            ceiling_height:
                              type: string
                              nullable: true
                            column_spacing:
                              type: string
                              nullable: true
                            electrical:
                              type: string
                              nullable: true
                            hvac:
                              type: string
                              nullable: true
                            parking:
                              type: string
                              nullable: true
                            roof:
                              type: string
                              nullable: true
                            sprinklers:
                              type: string
                              nullable: true
                        relationships:
                          type: object
                          properties:
                            in_place_lease:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            committed_lease:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            last_expired_lease:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            asset:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - assets
                                      example: assets
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                    - type: object
                      properties:
                        type:
                          type: string
                          pattern: spaces_office
                          example: spaces_office
                        id:
                          type: string
                          example: '1'
                        attributes:
                          type: object
                          properties:
                            archived_date:
                              type: string
                              nullable: true
                              format: date
                            availability_date:
                              type: string
                              format: date
                              nullable: true
                            availability_type:
                              type: string
                              example: arranged
                              enum:
                              - arranged
                              - immediate
                              - month to month
                              - not available
                              - specified
                              description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                            created_at:
                              type: string
                              nullable: true
                              format: date-time
                            current_size:
                              $ref: '#/components/schemas/measure_size'
                            description:
                              type: string
                              nullable: true
                            external_ids:
                              type: array
                              items:
                                type: object
                                properties:
                                  system_id:
                                    type: string
                                    nullable: true
                                  system_name:
                                    type: string
                                    nullable: true
                            floor:
                              type: object
                              properties:
                                composition:
                                  type: string
                                  nullable: true
                                name:
                                  type: string
                                position:
                                  type: number
                            hypothetical_space:
                              type: boolean
                            lease_type:
                              type: string
                              enum:
                              - direct
                              - renewal
                              - sublease
                            listing_date:
                              type: string
                              nullable: true
                              format: date
                            market_rent:
                              $ref: '#/components/schemas/measure_money'
                            maximum_contiguous_size:
                              $ref: '#/components/schemas/measure_size'
                            minimum_divisible_size:
                              $ref: '#/components/schemas/measure_size'
                            occupancy_status:
                              type: string
                              nullable: true
                            position:
                              type: number
                              nullable: true
                            price_is_negotiable:
                              type: boolean
                            public:
                              type: boolean
                            remeasured_space_available:
                              type: string
                              nullable: true
                            rental_pay_type:
                              type: string
                              enum:
                              - amt_month
                              - amt_year
                              - psf_month
                              - psf_year
                              nullable: true
                            rental_rate_max:
                              oneOf:
                              - $ref: '#/components/schemas/measure_money_period'
                              - $ref: '#/components/schemas/measure_money_area_period'
                            rental_rate_min:
                              oneOf:
                              - $ref: '#/components/schemas/measure_money_period'
                              - $ref: '#/components/schemas/measure_money_area_period'
                            sale_price:
                              $ref: '#/components/schemas/measure_money'
                            sourceid:
                              type: string
                              nullable: true
                            space_condition:
                              type: string
                              enum:
                              - 2nd generation
                              - category a+
                              - challenged
                              - core and shell
                              - floor and shell
                              - pre-built
                              - pre-existing
                              - raw
                              - turnkey
                              - under construction
                              - white box
                              nullable: true
                            space_type:
                              type: string
                              nullable: true
                              enum:
                              - office
                              - retail
                              - industrial_warehouse
                              - telecom
                              - storage
                              - flex
                              - parking
                              - amenities
                              - rooftop
                              - other
                              - lab
                              - manufacturing
                              - residential
                              - medical_office
                              - education
                              - restaurant
                              - leisure
                              - unspecified
                              - null
                            subtitle:
                              type: string
                              nullable: true
                            suite:
                              type: string
                              nullable: true
                            term_duration:
                              type: string
                              nullable: true
                            transaction_type:
                              type: string
                              enum:
                              - lease
                              - sale
                              nullable: true
                            updated_at:
                              type: string
                              nullable: true
                              format: date
                            vacant_on_date:
                              type: string
                              nullable: true
                              format: date
                            internal_notes:
                              type: string
                              nullable: true
                              example: Notes
                              description: Internal notes visible only within the VTS platform for users with access to the Space.
                            ceiling_height:
                              type: string
                              nullable: true
                            column_spacing:
                              type: string
                              nullable: true
                            electrical:
                              type: string
                              nullable: true
                            hvac:
                              type: string
                              nullable: true
                            parking:
                              type: string
                              nullable: true
                            roof:
                              type: string
                              nullable: true
                            sprinklers:
                              type: string
                              nullable: true
                        relationships:
                          type: object
                          properties:
                            in_place_lease:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            committed_lease:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            last_expired_lease:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            asset:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - assets
                                      example: assets
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                    - type: object
                      properties:
                        type:
                          type: string
                          pattern: spaces_retail
                          example: spaces_retail
                        id:
                          type: string
                          example: '1'
                        attributes:
                          type: object
                          properties:
                            archived_date:
                              type: string
                              nullable: true
                              format: date
                            availability_date:
                              type: string
                              format: date
                              nullable: true
                            availability_type:
                              type: string
                              example: arranged
                              enum:
                              - arranged
                              - immediate
                              - month to month
                              - not available
                              - specified
                              description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
                            created_at:
                              type: string
                              nullable: true
                              format: date-time
                            current_size:
                              $ref: '#/components/schemas/measure_size'
                            description:
                              type: string
                              nullable: true
                            external_ids:
                              type: array
                              items:
                                type: object
                                properties:
                                  system_id:
                                    type: string
                                    nullable: true
                                  system_name:
                                    type: string
                                    nullable: true
                            floor:
                              type: object
                              properties:
                                composition:
                                  type: string
                                  nullable: true
                                name:
                                  type: string
                                position:
                                  type: number
                            hypothetical_space:
                              type: boolean
                            lease_type:
                              type: string
                              enum:
                              - direct
                              - renewal
                              - sublease
                            listing_date:
                              type: string
                              nullable: true
                              format: date
                            market_rent:
                              $ref: '#/components/schemas/measure_money'
                            maximum_contiguous_size:
                              $ref: '#/components/schemas/measure_size'
                            minimum_divisible_size:
                              $ref: '#/components/schemas/measure_size'
                            occupancy_status:
                              type: string
                              nullable: true
                            position:
                              type: number
                              nullable: true
                            price_is_negotiable:
                              type: boolean
                            public:
                              type: boolean
                            remeasured_space_available:
                              type: string
                              nullable: true
                            rental_pay_type:
                              type: string
                              enum:
                              - amt_month
                              - amt_year
                              - psf_month
                              - psf_year
                              nullable: true
                            rental_rate_max:
                              oneOf:
                              - $ref: '#/components/schemas/measure_money_period'
                              - $ref: '#/components/schemas/measure_money_area_period'
                            rental_rate_min:
                              oneOf:
                              - $ref: '#/components/schemas/measure_money_period'
                              - $ref: '#/components/schemas/measure_money_area_period'
                            sale_price:
                              $ref: '#/components/schemas/measure_money'
                            sourceid:
                              type: string
                              nullable: true
                            space_condition:
                              type: string
                              enum:
                              - 2nd generation
                              - category a+
                              - challenged
                              - core and shell
                              - floor and shell
                              - pre-built
                              - pre-existing
                              - raw
                              - turnkey
                              - under construction
                              - white box
                              nullable: true
                            space_type:
                              type: string
                              nullable: true
                              enum:
                              - office
                              - retail
                              - industrial_warehouse
                              - telecom
                              - storage
                              - flex
                              - parking
                              - amenities
                              - rooftop
                              - other
                              - lab
                              - manufacturing
                              - residential
                              - medical_office
                              - education
                              - restaurant
                              - leisure
                              - unspecified
                              - null
                            subtitle:
                              type: string
                              nullable: true
                            suite:
                              type: string
                              nullable: true
                            term_duration:
                              type: string
                              nullable: true
                            transaction_type:
                              type: string
                              enum:
                              - lease
                              - sale
                              nullable: true
                            updated_at:
                              type: string
                              nullable: true
                              format: date
                            vacant_on_date:
                              type: string
                              nullable: true
                              format: date
                            internal_notes:
                              type: string
                              nullable: true
                              example: Notes
                              description: Internal notes visible only within the VTS platform for users with access to the Space.
                            depth:
                              type: string
                              nullable: true
                            frontage:
                              type: number
                              nullable: true
                            retail_space_type:
                              type: object
                              nullable: true
                            ceiling_height:
                              type: string
                              nullable: true
                            column_spacing:
                              type: string
                              nullable: true
                            electrical:
                              type: string
                              nullable: true
                            hvac:
                              type: string
                              nullable: true
                            parking:
                              type: string
                              nullable: true
                            roof:
                              type: string
                              nullable: true
                            sprinklers:
                              type: string
                              nullable: true
                        relationships:
                          type: object
                          properties:
                            in_place_lease:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            committed_lease:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            last_expired_lease:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - leases
                                      example: leases
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            asset:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - assets
                                      example: assets
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                    - type: object
                      properties:
                        type:
                          type: string
                          pattern: spaces_miscellaneous
                          example: spaces_miscellaneous
                        id:
                          type: string
                          example: '1'
                        attributes:
                          type: object
                          properties:
                            archived_date:
                              type: string
                              nullable: true
                              format: date
                            availability_date:
                              type: string
                              format: date
                              nullable: true
                            availability_type:
                              type: string
                              example: arranged
                              enum:
                              - arranged
                              - immediate
                              - month to month
                              - not available
                              - specified
                              description: 'The Availability Type for this Space. Possible Values: arranged, immediate, month to month, not available, specified'
[...]
