openapi: 3.0.2
info:
  title: VTS Lease Account Admin Users API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants, buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com) per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Users
paths:
  /api/v1/users:
    get:
      summary: Fetches users
      description: Contains your VTS user details such as name on account, user level, and user contact information
      tags:
      - Users
      security:
      - basic_auth: []
      parameters:
      - name: tenant_id
        in: query
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns a list of users associated with the current account
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: users
                        attributes:
                          type: object
                          properties:
                            first_name:
                              type: string
                              example: John
                            last_name:
                              type: string
                              example: Doe
                            email:
                              type: string
                              example: johndoe@example.com
                            current_sign_in_at:
                              type: string
                              nullable: true
                              format: date-time
                            is_account_user:
                              type: boolean
                            is_company_admin:
                              type: boolean
                            phone:
                              type: string
                              example: '1234567890'
                            phone_extension:
                              type: string
                              example: '1234'
                            title:
                              type: string
                              example: Vice President
                              description: Title can refer to their job position, formal honorific, or title of respect
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/users
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/users?page%5Bbefore%5D=MzE2NTI%253D
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/users?page%5Bafter%5D=MzE2NjQ%253D
                    required:
                    - self
        '401':
          description: Bad API Credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-users
  /api/v1/users/{id}:
    get:
      summary: Retrieves specific user
      description: Contains your VTS user details such as name on account, user level, and user contact information
      tags:
      - Users
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested user if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      attributes:
                        type: object
                        properties:
                          first_name:
                            type: string
                          last_name:
                            type: string
                          current_sign_in_at:
                            type: string
                            nullable: true
                          disabled:
                            type: boolean
                            nullable: true
                          is_account_user:
                            type: boolean
                          is_company_admin:
                            type: boolean
                          title:
                            type: string
                            example: Vice President
                            description: Title can refer to their job position, formal honorific, or title of respect
        '401':
          description: Bad API Credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Requested user does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-users-id
components:
  schemas:
    errors_object:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                nullable: true
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow with PKCE (VTS Activate / OIDC).
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox.vts.com/oauth/authorize
          tokenUrl: https://sandbox.vts.com/oauth/token
          refreshUrl: https://sandbox.vts.com/oauth/token
          scopes:
            read_write: Read and write access
            openid: OpenID Connect
            profile: Profile claims
            email: Email claim
x-apis-json:
  generated: '2026-07-21'
  method: searched
  source: https://readme.vts.com/reference (per-operation OpenAPI fragments, harvested & merged)
