openapi: 3.0.2
info:
  title: VTS Lease Account Admin Budgets API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants, buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com) per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Budgets
paths:
  /api/v1/budgets:
    get:
      summary: Fetches budgets
      tags:
      - Budgets
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns list of Budgets
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: budgets
                  id:
                    type: string
                    example: '1'
                  attributes:
                    type: object
                    properties:
                      label:
                        type: string
                        nullable: true
                        example: Budget for Fiscal Year 2022
                        description: The label assigned for the given Budget
                      budget_year:
                        type: number
                        nullable: true
                        example: 2022
                        description: The year for the Budget
                      npv_discount_rate:
                        type: string
                        nullable: true
                        example: '1.0'
                        description: Net Present Value discount rate
                      rentable_size:
                        allOf:
                        - $ref: '#/components/schemas/measure_area'
                        - description: Area of the space budgeted for lease
                      structure:
                        type: string
                        example: full service
                        description: Rent and recovery structure label
                      total_lease_term:
                        type: number
                        example: 24
                        description: Duration of the lease in months
                      commencement_date:
                        type: string
                        example: '2021-12-08'
                        format: date
                        description: Start of the lease. Usually designates when the tenant is entitled to the space.
                      created_at:
                        type: string
                        example: '2021-12-08T16:28:22.179486Z'
                        format: date-time
                        description: The timestamp when this budget was created
                      updated_at:
                        type: string
                        example: '2021-12-08T16:28:22.187979Z'
                        description: The timestamp when this budget was last updated
                      commissions_months:
                        type: number
                        nullable: true
                        example: 1
                        description: When commission percentage will be applied at a different rate during the term of the lease. The user can specify the start month that the percentage is applicable for. The percentage is applied between the start month and the next commission period start month
                      security_deposit:
                        allOf:
                        - $ref: '#/components/schemas/measure_money'
                        - properties:
                            security_deposit_type:
                              type: string
                              example: letter_of_credit
                              description: The type of the security deposit
                          description: Value and currency of the budget's security deposit
                      net_effective_rent:
                        allOf:
                        - $ref: '#/components/schemas/measure_money_area_period'
                        - properties:
                            unit:
                              example: USD/sf/yr
                            unit_components:
                              properties:
                                period:
                                  enum:
                                  - yr
                                  description: 'Possible values: ''yr'''
                          description: The normalized value a tenant will pay per period to the landlord over the lease term,considering Net Present Value. Returned in money/area/year units.
                      tenant_improvements:
                        type: array
                        items:
                          description: Each Tenant Improvement
                          type: object
                          properties:
                            allowance_unit:
                              type: string
                              example: rsf
                              description: Tenant Improvements allowance unit
                            allowance:
                              type: number
                              format: float
                              example: 0
                              description: Tenant Improvements allowance
                            occurrence_month:
                              type: number
                              example: 1
                              description: Tenant Improvements occurrence month. Possible values are between 1 and the number of months in the budget
                            description:
                              type: string
                              nullable: true
                              example: Some text
                              description: Tenant Improvements description
                        deprecated: true
                      building_improvements:
                        type: array
                        items:
                          description: Each Building Improvement
                          type: object
                          properties:
                            allowance_unit:
                              type: string
                              example: rsf
                              description: Building Improvements allowance unit
                            allowance:
                              type: number
                              format: float
                              example: 0
                              description: Building Improvements allowance
                            occurrence_month:
                              type: number
                              example: 1
                              description: Building Improvements occurrence month. Possible values are between 1 and the number of months in the budget
                            description:
                              type: string
                              nullable: true
                              example: Some text
                              description: Building Improvements description
                        deprecated: true
                      entered_date:
                        type: string
                        example: '1'
                        description: When the deal term was entered
                      execution_date:
                        type: string
                        nullable: true
                        example: '1'
                        description: Date lease was or will be executed by lawyers
                      rent_schedule:
                        type: array
                        description: Individual rent steps of a budget's calculated schedule
                        items:
                          type: object
                          properties:
                            start_month:
                              type: number
                              example: 1
                              description: Month that rent step goes into effect, relative to lease commencement date
                            end_month:
                              type: number
                              example: 5
                              description: Final month that rent step is in effect, relative to lease commencement date
                            amount:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area_period'
                              - properties:
                                  magnitude:
                                    example: 35
                                    description: Calculated rent amount for period, annualized per area
                                  unit:
                                    example: USD/sf/yr
                                  unit_components:
                                    properties:
                                      period:
                                        enum:
                                        - yr
                                        description: 'Possible values: ''yr'''
                                description: Calculated rent amount for period, annualized per area
                      net_present_value:
                        allOf:
                        - $ref: '#/components/schemas/measure_money_area_period'
                        - properties:
                            magnitude:
                              example: 35
                            unit:
                              example: USD/sf/yr
                            unit_components:
                              properties:
                                period:
                                  enum:
                                  - yr
                                  description: 'Possible values: ''yr'''
                          description: The present value of the net cash flow given the time value of money
                      total_deal_value:
                        allOf:
                        - $ref: '#/components/schemas/measure_money_area_period'
                        - properties:
                            magnitude:
                              example: 35
                            unit:
                              example: USD/sf/yr
                            unit_components:
                              properties:
                                period:
                                  enum:
                                  - yr
                                  description: 'Possible values: ''yr'''
                      description:
                        type: string
                        nullable: true
                        example: Some text
                        description: A description of the budget
                      net_cash_flow:
                        allOf:
                        - $ref: '#/components/schemas/measure_money'
                        - description: Total net cash flow of the deal
                      total_rent:
                        allOf:
                        - $ref: '#/components/schemas/measure_money_area_period'
                        - properties:
                            magnitude:
                              example: 35
                            unit:
                              example: USD/sf/mo
                            unit_components:
                              properties:
                                period:
                                  enum:
                                  - mo
                                  description: 'Possible values: ''mo'''
                          description: Amount of income that will be realized as "rent". Total value of Base Rent + Escalations - Free Rent
                      concessions:
                        type: string
                        example: '0.0'
                        description: Total concessions on the deal
                      payback:
                        type: number
                        example: 1
                        description: Month number for the breakeven point
                      internal_rate_of_return:
                        type: string
                        nullable: true
                        example: '100.0'
                        description: The return on money spent for the term of the lease
                      gross_rent:
                        allOf:
                        - $ref: '#/components/schemas/measure_money_area_period'
                        - properties:
                            magnitude:
                              example: 35
                            unit:
                              example: USD/sf/mo
                            unit_components:
                              properties:
                                period:
                                  enum:
                                  - mo
                                  description: 'Possible values: ''mo'''
                          description: Value of revenue from base rent, escalation, & recovery income
                      net_rent:
                        allOf:
                        - $ref: '#/components/schemas/measure_money_area_period'
                        - properties:
                            magnitude:
                              example: 35
                            unit:
                              example: USD/sf/mo
                            unit_components:
                              properties:
                                period:
                                  enum:
                                  - mo
                                  description: 'Possible values: ''mo'''
                          description: Value of revenue from base rent, escalation, - recovery income. Returned in money/area/month units
                      free_rents:
                        allOf:
                        - $ref: '#/components/schemas/free_rents'
                        - properties:
                            recovery_type:
                              type: string
                              enum:
                              - net
                              - gross
                              example: gross
                              description: 'net: percent of net base rent; gross: percent of gross base rent and recoveries.'
                              deprecated: true
                            percent_free:
                              type: number
                              format: float
                              example: 1.5
                              description: Discount as a percentage value of rent
                              deprecated: true
                            duration:
                              type: number
                              example: 1
                              description: The number of months in which the free rent applies
                              deprecated: true
                      base_rents:
                        allOf:
                        - $ref: '#/components/schemas/base_rents'
                        - properties:
                            begin_in:
                              type: number
                              example: 1
                              description: This attributes is deprecated. Please start using start_month attribute.
                              deprecated: true
                      tenant_risk_description:
                        type: string
                        nullable: true
                        example: Some text
                        description: Description of money paid to landlord outside of lease cash flow to mitigate the risk of leasing to tenant
                      downtime:
                        allOf:
                        - $ref: '#/components/schemas/measure_period'
                        - properties:
                            magnitude:
                              example: 2
                            unit:
                              enum:
                              - mo
                            unit_components:
                              properties:
                                period:
                                  enum:
                                  - mo
                            iso8601:
                              example: P2M
                          description: Months from previous tenant move-out to commencement date of replacement tenant
                      lock_in_end_date:
                        type: string
                        nullable: true
                        example: '2021-12-08'
                        description: The minimum duration of the lease that must be honored/paid by the tenant should they choose to terminate early in the future.
                      minimum_guarantee:
                        allOf:
                        - $ref: '#/components/schemas/measure_money_area_period'
                        - properties:
                            magnitude:
                              example: 35
                            unit:
                              example: USD/sf/mo
                            unit_components:
                              properties:
                                period:
                                  enum:
                                  - mo
                                  description: 'Possible values: ''mo'''
                          description: Value of revenue from base rent, escalation, - recovery income. Returned in money/area/month units
                      other_fees:
                        type: array
                        items:
                          type: object
                          properties:
                            occurrence_month:
                              type: number
                              example: 1
                              description: Other Fees occurrence month. Possible values are between 1 and the number of months in the budget
                            allowance_unit:
                              type: string
                              enum:
                              - total
                              - USD/sf
                              example: USD/sf
                              description: Other Fees allowance unit
                            allowance:
                              type: number
                              example: 9.99
                              description: Other Fees allowance
                            description:
                              type: string
                              example: Description
                              description: The description of other fees
                        deprecated: true
                      commissions:
                        $ref: '#/components/schemas/commissions'
                      rent_escalations:
                        $ref: '#/components/schemas/rent_escalations'
                      percentage_rents:
                        $ref: '#/components/schemas/percentage_rents'
                      other_incomes:
                        $ref: '#/components/schemas/other_incomes'
                      reimbursable_expenses:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              example: OperationalExpense
                              enum:
                              - OperationalExpense
                              - RealEstateTax
                              - ReimbursableExpenseCleaning
                              - ReimbursableExpenseInsurance
                              - ReimbursableExpenseMarketing
                              - ReimbursableExpenseOm
                              - ReimbursableExpenseOther
                              - ReimbursableExpenseRepairsAndMaintenance
                              - ReimbursableExpenseSecurity
                              - ReimbursableExpenseUtility
                              - ReimbursableExpenseCam
                              - ReimbursableExpenseElectric
                              - ReimbursableExpenseLandscaping
                              - ReimbursableExpenseManagementFee
                              description: The type of the reimbursable expense
                              deprecated: true
                            expense_type:
                              type: string
                              example: OperationalExpense
                              enum:
                              - OperationalExpense
                              - RealEstateTax
                              - ReimbursableExpenseCleaning
                              - ReimbursableExpenseInsurance
                              - ReimbursableExpenseMarketing
                              - ReimbursableExpenseOm
                              - ReimbursableExpenseOther
                              - ReimbursableExpenseRepairsAndMaintenance
                              - ReimbursableExpenseSecurity
                              - ReimbursableExpenseUtility
                              - ReimbursableExpenseCam
                              - ReimbursableExpenseElectric
                              - ReimbursableExpenseLandscaping
                              - ReimbursableExpenseManagementFee
                              description: The type of the reimbursable expense
                            recovery_method:
                              type: string
                              example: gross
                              enum:
                              - gross
                              - net
                              - amount
                              - modified_gross
                              description: The calculation method of the recovery amount for the reimbursable expense
                            expense_growth_rate:
                              allOf:
                              - $ref: '#/components/schemas/measure_percentage'
                              - description: The expenses will grow by this rate every 12 months after the lease commencement date.
                            expense_amount:
                              type: number
                              format: float
                              example: 10
                              description: The amount of the reimbursable expense
                              deprecated: true
                            expense_amount_with_units:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area_period'
                              - description: The amount of the reimbursable expense
                            recovery_amount:
                              type: number
                              example: 5
                              description: The amount of reimbursable expense that will be paid to landlord by the tenant
                              deprecated: true
                            recovery_amount_with_units:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area_period'
                              - description: The amount of reimbursable expense that will be paid to landlord by the tenant with recovery type modified_gross
                            expense_stop:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area_period'
                              - description: The expense stop of the reimbursable expense. Only applies for expenses with recovery type modified_gross
                            description:
                              type: string
                              example: Description
                              description: The description of reimbursable expense
                      costs:
                        $ref: '#/components/schemas/costs'
                      proposal_type:
                        type: string
                        example: budget
                        description: The proposal type of the budget
                      calculated_metrics:
                        type: object
                        properties:
                          ner_override:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - description: Net Effective Rent as a percent of NER of budget
                          npv_per_area:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area'
                            - description: The present value of the net cash flow given the time value of money
                  relationships:
                    type: object
                    properties:
                      asset:
                        type: object
                        properties:
                          data:
                            type: object
                            nullable: true
                            properties:
                              id:
                                type: string
                                example: '12345'
                              type:
                                type: string
                                enum:
                                - assets
                                example: assets
                          links:
                            type: object
                            properties:
                              related:
                                type: string
                                format: uri
                        description: Only present for asset-level budgets
                      space:
                        type: object
                        properties:
                          data:
                            type: object
                            nullable: true
                            properties:
                              id:
                                type: string
                                example: '12345'
                              type:
                                type: string
                                enum:
                                - spaces_office
                                - spaces_retail
                                - spaces_industrial
                                - spaces_miscellaneous
                                example: spaces_office
                          links:
                            type: object
                            properties:
                              related:
                                type: string
                                format: uri
                        description: Only present for space-level budgets
                      blended_budget:
                        type: object
                        properties:
                          data:
                            type: object
                            nullable: true
                            properties:
                              id:
                                type: string
                                example: '12345'
                              type:
                                type: string
                                enum:
                                - blended_budgets
                                example: blended_budgets
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-budgets
  /api/v1/budgets/{id}:
    get:
      summary: Retrieves specific budgets
      tags:
      - Budgets
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested budget if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: budgets
                      id:
                        type: string
                        example: '1'
                      attributes:
                        type: object
                        properties:
                          label:
                            type: string
                            nullable: true
                            example: Budget for Fiscal Year 2022
                            description: The label assigned for the given Budget
                          budget_year:
                            type: number
                            nullable: true
                            example: 2022
                            description: The year for the Budget
                          npv_discount_rate:
                            type: string
                            nullable: true
                            example: '1.0'
                            description: Net Present Value discount rate
                          rentable_size:
                            allOf:
                            - $ref: '#/components/schemas/measure_area'
                            - description: Area of the space budgeted for lease
                          structure:
                            type: string
                            example: full service
                            description: Rent and recovery structure label
                          total_lease_term:
                            type: number
                            example: 24
                            description: Duration of the lease in months
                          commencement_date:
                            type: string
                            example: '2021-12-08'
                            format: date
                            description: Start of the lease. Usually designates when the tenant is entitled to the space.
                          created_at:
                            type: string
                            example: '2021-12-08T16:28:22.179486Z'
                            format: date-time
                            description: The timestamp when this budget was created
                          updated_at:
                            type: string
                            example: '2021-12-08T16:28:22.187979Z'
                            description: The timestamp when this budget was last updated
                          commissions_months:
                            type: number
                            nullable: true
                            example: 1
                            description: When commission percentage will be applied at a different rate during the term of the lease. The user can specify the start month that the percentage is applicable for. The percentage is applied between the start month and the next commission period start month
                          security_deposit:
                            allOf:
                            - $ref: '#/components/schemas/measure_money'
                            - properties:
                                security_deposit_type:
                                  type: string
                                  example: letter_of_credit
                                  description: The type of the security deposit
                              description: Value and currency of the budget's security deposit
                          net_effective_rent:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                unit:
                                  example: USD/sf/yr
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - yr
                                      description: 'Possible values: ''yr'''
                              description: The normalized value a tenant will pay per period to the landlord over the lease term,considering Net Present Value. Returned in money/area/year units.
                          tenant_improvements:
                            type: array
                            items:
                              description: Each Tenant Improvement
                              type: object
                              properties:
                                allowance_unit:
                                  type: string
                                  example: rsf
                                  description: Tenant Improvements allowance unit
                                allowance:
                                  type: number
                                  format: float
                                  example: 0
                                  description: Tenant Improvements allowance
                                occurrence_month:
                                  type: number
                                  example: 1
                                  description: Tenant Improvements occurrence month. Possible values are between 1 and the number of months in the budget
                                description:
                                  type: string
                                  nullable: true
                                  example: Some text
                                  description: Tenant Improvements description
                            deprecated: true
                          building_improvements:
                            type: array
                            items:
                              description: Each Building Improvement
                              type: object
                              properties:
                                allowance_unit:
                                  type: string
                                  example: rsf
                                  description: Building Improvements allowance unit
                                allowance:
                                  type: number
                                  format: float
                                  example: 0
                                  description: Building Improvements allowance
                                occurrence_month:
                                  type: number
                                  example: 1
                                  description: Building Improvements occurrence month. Possible values are between 1 and the number of months in the budget
                                description:
                                  type: string
                                  nullable: true
                                  example: Some text
                                  description: Building Improvements description
                            deprecated: true
                          entered_date:
                            type: string
                            example: '1'
                            description: When the deal term was entered
                          execution_date:
                            type: string
                            nullable: true
                            example: '1'
                            description: Date lease was or will be executed by lawyers
                          rent_schedule:
                            type: array
                            description: Individual rent steps of a budget's calculated schedule
                            items:
                              type: object
                              properties:
                                start_month:
                                  type: number
                                  example: 1
                                  description: Month that rent step goes into effect, relative to lease commencement date
                                end_month:
                                  type: number
                                  example: 5
                                  description: Final month that rent step is in effect, relative to lease commencement date
                                amount:
                                  allOf:
                                  - $ref: '#/components/schemas/measure_money_area_period'
                                  - properties:
                                      magnitude:
                                        example: 35
                                        description: Calculated rent amount for period, annualized per area
                                      unit:
                                        example: USD/sf/yr
                                      unit_components:
                                        properties:
                                          period:
                                            enum:
                                            - yr
                                            description: 'Possible values: ''yr'''
                                    description: Calculated rent amount for period, annualized per area
                          net_present_value:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                magnitude:
                                  example: 35
                                unit:
                                  example: USD/sf/yr
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - yr
                                      description: 'Possible values: ''yr'''
                              description: The present value of the net cash flow given the time value of money
                          total_deal_value:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                magnitude:
                                  example: 35
                                unit:
                                  example: USD/sf/yr
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - yr
                                      description: 'Possible values: ''yr'''
                          description:
                            type: string
                            nullable: true
                            example: Some text
                            description: A description of the budget
                          net_cash_flow:
                            allOf:
                            - $ref: '#/components/schemas/measure_money'
                            - description: Total net cash flow of the deal
                          total_rent:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                magnitude:
                                  example: 35
                                unit:
                                  example: USD/sf/mo
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - mo
                                      description: 'Possible values: ''mo'''
                              description: Amount of income that will be realized as "rent". Total value of Base Rent + Escalations - Free Rent
                          concessions:
                            type: string
                            example: '0.0'
                            description: Total concessions on the deal
                          payback:
                            type: number
                            example: 1
                            description: Month number for the breakeven point
                          internal_rate_of_return:
                            type: string
                            nullable: true
                            example: '100.0'
                            description: The return on money spent for the term of the lease
                          gross_rent:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                magnitude:
                                  example: 35
                                unit:
                                  example: USD/sf/mo
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - mo
                                      description: 'Possible values: ''mo'''
                              description: Value of revenue from base rent, escalation, & recovery income
                          net_rent:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                magnitude:
                                  example: 35
                                unit:
                                  example: USD/sf/mo
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - mo
                                      description: 'Possible values: ''mo'''
                              description: Value of revenue from base rent, escalation, - recovery income. Returned in money/area/month units
                          free_rents:
                            allOf:
                            - $ref: '#/components/schemas/free_rents'
                            - properties:
                                recovery_type:
                                  type: string
                                  enum:
                                  - net
                                  - gross
                                  example: gross
                                  description: 'net: percent of net base rent; gross: percent of gross base rent and recoveries.'
                                  deprecated: true
                                percent_free:
                                  type: number
                                  format: float
                                  example: 1.5
                                  description: Discount as a percentage value of rent
                                  deprecated: true
                                duration:
                                  type: number
                                  example: 1
                                  description: The number of months in which the free rent applies
                                  deprecated: true
                          base_rents:
                            allOf:
                            - $ref: '#/components/schemas/base_rents'
                            - properties:
                                begin_in:
                                  type: number
                                  example: 1
                                  description: This attributes is deprecated. Please start using start_month attribute.
                                  deprecated: true
                          tenant_risk_description:
                            type: string
                            nullable: true
                            example: Some text
                            description: Description of money paid to landlord outside of lease cash flow to mitigate the risk of leasing to tenant
                          downtime:
                            allOf:
                            - $ref: '#/components/schemas/measure_period'
                            - properties:
                                magnitude:
                                  example: 2
                                unit:
                                  enum:
                                  - mo
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - mo
                                iso8601:
                                  example: P2M
                              description: Months from previous tenant move-out to commencement date of replacement tenant
                          lock_in_end_date:
                            type: string
                            nullable: true
                            example: '2021-12-08'
                            description: The minimum duration of the lease that must be honored/paid by the tenant should they choose to terminate early in the future.
                          minimum_guarantee:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                magnitude:
                                  example: 35
                                unit:
                                  example: USD/sf/mo
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - mo
                                      description: 'Possible values: ''mo'''
                              description: Value of revenue from base rent, escalation, - recovery income. Returned in money/area/month units
                          other_fees:
                            type: array
                            items:
                              type: object
                              properties:
                                occurrence_month:
                                  type: number
                                  example: 1
                                  description: Other Fees occurrence month. Possible values are between 1 and the number of months in the budget
                                allowance_unit:
                                  type: string
                                  enum:
                                  - total
                                  - USD/sf
                                  example: USD/sf
                                  description: Other Fees allowance unit
                                allowance:
                                  type: number
                                  example: 9.99
                                  description: Other Fees allowance
                                description:
                                  type: string
                                  example: Description
                                  description: The description of other fees
                            deprecated: true
                          commissions:
                            $ref: '#/components/schemas/commissions'
                          rent_escalations:
                            $ref: '#/components/schemas/rent_escalations'
                          percentage_rents:
                            $ref: '#/components/schemas/percentage_rents'
                          other_incomes:
                            $ref: '#/components/schemas/other_incomes'
                          reimbursable_expenses:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  example: OperationalExpense
                                  enum:
                                  - OperationalExpense
                                  - RealEstateTax
                                  - ReimbursableExpenseCleaning
                                  - ReimbursableExpenseInsurance
                                  - ReimbursableExpenseMarketing
                                  - ReimbursableExpenseOm
                                  - ReimbursableExpenseOther
                                  - ReimbursableExpenseRepairsAndMaintenance
                                  - ReimbursableExpenseSecurity
                                  - ReimbursableExpenseUtility
                                  - ReimbursableExpenseCam
                                  - ReimbursableExpenseElectric
                                  - ReimbursableExpenseLandscaping
                                  - ReimbursableExpenseManagementFee
                                  description: The type of the reimbursable expense
                                  deprecated: true
                                expense_type:
                                  type: string
                                  example: OperationalExpense
                                  enum:
                                  - OperationalExpense
                                  - RealEstateTax
                                  - ReimbursableExpenseCleaning
                                  - ReimbursableExpenseInsurance
                                  - ReimbursableExpenseMarketing
                                  - ReimbursableExpenseOm
                                  - ReimbursableExpenseOther
                                  - ReimbursableExpenseRepairsAndMaintenance
                                  - ReimbursableExpenseSecurity
                                  - ReimbursableExpenseUtility
                                  - ReimbursableExpenseCam
                                  - ReimbursableExpenseElectric
                                  - ReimbursableExpenseLandscaping
                                  - ReimbursableExpenseManagementFee
                                  description: The type of the reimbursable expense
                                recovery_method:
                                  type: string
                                  example: gross
                                  enum:
                                  - gross
                                  - net
                                  - amount
                                  - modified_gross
                                  description: The calculation method of the recovery amount for the reimbursable expense
                                expense_growth_rate:
                                  allOf:
                                  - $ref: '#/components/schemas/measure_percentage'
                                  - description: The expenses will grow by this rate every 12 months after the lease commencement date.
                                expense_amount:
                                  type: number
                                  format: float
                                  example: 10
                                  description: The amount of the reimbursable expense
                                  deprecated: true
                                expense_amount_with_units:
                                  allOf:
                                  - $ref: '#/components/schemas/measure_money_area_period'
                                  - description: The amount of the reimbursable expense
                                recovery_amount:
                                  type: number
                                  example: 5
                                  description: The amount of reimbursable expense that will be paid to landlord by the tenant
                                  deprecated: true
                                recovery_amount_with_units:
                                  allOf:
                                  - $ref: '#/components/schemas/measure_money_area_period'
                                  - description: The amount of reimbursable expense that will be paid to landlord by the tenant with recovery type modified_gross
                                expense_stop:
                                  allOf:
                                  - $ref: '#/components/schemas/measure_money_area_period'
                                  - description: The expense stop of the reimbursable expense. Only applies for expenses with recovery type modified_gross
                                description:
                                  type: string
                                  example: Description
                                  description: The description of reimbursable expense
                          costs:
                            $ref: '#/components/schemas/costs'
                          proposal_type:
                            type: string
                            example: budget
                            description: The proposal type of the budget
                          calculated_metrics:
                            type: object
                            properties:
                              ner_override:
                                allOf:
                                - $ref: '#/components/schemas/measure_money_area_period'
                                - description: Net Effective Rent as a percent of NER of budget
                              npv_per_area:
                                allOf:
                                - $ref: '#/components/schemas/measure_money_area'
                                - description: The present value of the net cash flow given the time value of money
                      relationships:
                        type: object
                        properties:
                          asset:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                    example: '12345'
                                  type:
                                    type: string
                                    enum:
                                    - assets
                                    example: assets
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    format: uri
                            description: Only present for asset-level budgets
                          space:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                    example: '12345'
                                  type:
                                    type: string
                                    enum:
                                    - spaces_office
                                    - spaces_retail
                                    - spaces_industrial
                                    - spaces_miscellaneous
                                    example: spaces_office
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    format: uri
                            description: Only present for space-level budgets
                          blended_budget:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                    example: '12345'
                                  type:
                                    type: string
                                    enum:
                                    - blended_budgets
                                    example: blended_budgets
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Requested budget does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-budgets-id
components:
  schemas:
    percentage_rents:
      type: array
      items:
        type: object
        properties:
          start_month:
            type: number
            example: 1
            description: The numeric month in which the base rent starts (i.e. base rent begins in month 4)
          minimum_guarantee:
            oneOf:
            - $ref: '#/components/schemas/measure_money_area_period'
            - $ref: '#/components/schemas/measure_money_period'
          sales_overage_breakpoints_type:
            type: string
            enum:
            - Natural
            - Unnatural
            example: Natural
            description: Type of Sales Overage Breakpoints Natural/Unnatural
          sales_overage_breakpoints:
            type: array
            items:
              type: object
              properties:
                breakpoint:
                  $ref: '#/components/schemas/measure_money_period'
                percent_rent:
                  $ref: '#/components/schemas/measure_percentage'
    measure_money_area_period:
      type: object
      nullable: true
      properties:
        magnitude:
          type: number
          format: float
          example: 1000
        unit:
          type: string
          example: USD/sf/yr
        unit_components:
          type: object
          properties:
            money:
              type: string
              pattern: '...'
              description: ISO 4217 currency code
              example: USD
            area:
              type: string
              enum:
              - sf
              - sm
            period:
              type: string
              enum:
              - yr
              - mo
              - day
        type:
          type: string
          pattern: money/area/period
          example: money/area/period
    measure_money:
      type: object
      nullable: true
      properties:
        magnitude:
          type: number
          format: float
          example: 1000
        unit:
          type: string
          pattern: '...'
          description: ISO 4217 currency code
          example: USD
        unit_components:
          type: object
          properties:
            money:
              type: string
              pattern: '...'
              example: USD
        type:
          type: string
          pattern: money
          example: money
    errors_object:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                nullable: true
    costs:
      type: array
      items:
        type: object
        properties:
          type:
            type: string
            enum:
            - tenant_improvement
            - building_improvement
            - lease_incentive
            - other_fee
            example: tenant_improvement
            description: The type of the cost
          occurrence_month:
            type: number
            example: 1
            description: Tenant improvements occurrence month. Possible values are between 1 and the number of months in the term
          amount:
            oneOf:
            - $ref: '#/components/schemas/measure_money'
            - $ref: '#/components/schemas/measure_money_period'
            description: The amount, with units, of the cost
          description:
            type: string
            example: Description
            description: The description of the cost
    measure_percentage:
      type: object
      nullable: true
      properties:
        magnitude:
          type: number
          format: float
          example: 1000
        unit:
          type: string
          pattern: '%'
          example: '%'
        unit_components:
          type: object
          properties:
            period:
              type: string
              pattern: '%'
              example: '%'
        type:
          type: string
          pattern: percentage
          example: percentage
    free_rents:
      type: array
      items:
        type: object
        properties:
          type:
            type: string
            enum:
            - net
            - gross
            example: gross
            description: 'net: percent of net base rent; gross: percent of gross base rent and recoveries.'
          start_month:
            type: number
            example: 1
            description: Month that rent step goes into effect, relative to lease commencement date
          amount_free:
            allOf:
            - $ref: '#/components/schemas/measure_percentage'
            - description: Discount as a percentage value of rent
          duration_with_units:
            allOf:
            - $ref: '#/components/schemas/measure_period'
            - description: The amount of time in which the free rent applies (including amount of time units)
    rent_escalations:
      type: array
      items:
        type: object
        properties:
          start_month:
            type: number
            example: 1
            description: Month number in which to begin rent escalations
          amount:
            anyOf:
            - $ref: '#/components/schemas/measure_percentage'
            - $ref: '#/components/schemas/measure_money_area_period'
            description: Value of the escalation
          occurs:
            type: string
            enum:
            - One Time
            - Annual
            example: One Time
            description: How often escalations recurs
    measure_money_period:
      type: object
      nullable: true
      properties:
        magnitude:
          type: number
          format: float
          example: 1000
        unit:
          type: string
          example: USD/yr
        unit_components:
          type: object
          properties:
            money:
              type: string
              pattern: '...'
              description: ISO 4217 currency code
              example: USD
            period:
              type: string
              enum:
              - yr
              - mo
              - day
        type:
          type: string
          pattern: money/period
          example: money/period
    measure_money_area:
      type: object
      nullable: true
      properties:
        magnitude:
          type: number
          format: float
          example: 1000
        unit:
          type: string
          example: USD/sf
        unit_components:
          type: object
          properties:
            money:
              type: string
              pattern: '...'
              description: ISO 4217 currency code
              example: USD
            area:
              type: string
              enum:
              - sf
              - sm
        type:
          type: string
          pattern: money/area
          example: money/area
    measure_period:
      type: object
      nullable: true
      properties:
        magnitude:
          type: number
          format: float
          example: 2
        unit:
          type: string
          enum:
          - yr
          - mo
          - day
        unit_components:
          type: object
          properties:
            period:
              type: string
              enum:
              - yr
              - mo
              - day
        type:
          type: string
          pattern: period
          example: period
        iso8601:
          type: string
          example: P2Y
          description: Period represented by ISO8601 format
          nullable: true
    base_rents:
      type: array
      items:
        type: object
        properties:
          start_month:
            type: number
            example: 1
            description: The numeric month in which the base rent starts (i.e. base rent begins in month 4)
          amount:
            oneOf:
            - $ref: '#/components/schemas/measure_money_area_period'
            - $ref: '#/components/schemas/measure_money_period'
    commissions:
      type: array
      items:
        type: object
        properties:
          created_at:
            type: string
            example: '2021-12-08T16:28:22.179486Z'
            format: date-time
            description: The timestamp when this budget commission was created
            deprecated: true
          updated_at:
            type: string
            example: '2021-12-08T16:28:22.187979Z'
            description: The timestamp when this budget commission was last updated
            deprecated: true
          net_or_gross:
            type: string
            enum:
            - gross
            - net
            example: gross
            description: The calculation method of the commission amount.
            nullable: true
          broker:
            type: string
            example: VTS
            description: Broker/Company name
          commission_date:
            type: string
            example: '2021-12-08'
            format: date
            description: The start date when commissions will start counting for.
          commission_type:
            type: string
            enum:
            - landlord
            - tenant_rep
            example: landlord
            description: Commissions Value paid to landlord or tenant brokers on the deal
          description:
            type: string
            example: Description
            description: The description of commission
          free_rent:
            type: string
            enum:
            - amortize_over_term
            - occurs_in_month
            - exclude_free_rent
            example: amortize_over_term
            description: How commission rent should handle free rent
          periods:
            type: array
            items:
              type: object
              properties:
                starts:
                  type: object
                  properties:
                    date:
                      type: string
                      example: '2021-12-08'
                      format: date
                      description: The date of the commissions to be paid out. This doesn't impact any calculations.
                    month:
                      type: number
                      example: 1
                      description: The start month when commissions will start counting for.
                amount:
                  oneOf:
                  - $ref: '#/components/schemas/measure_percentage'
                  - $ref: '#/components/schemas/measure_money'
                  - $ref: '#/components/schemas/measure_money_area'
                  - $ref: '#/components/schemas/measure_money_period'
    measure_area:
      type: object
      nullable: true
      properties:
        magnitude:
          type: number
          format: float
          example: 1000
        unit:
          type: string
          enum:
          - sf
          - sm
          example: sf
          description: 'Possible values: ''sf'' for square feet, ''sm'' for square meters'
        unit_components:
          type: object
          properties:
            area:
              type: string
              enum:
              - sf
              - sm
        type:
          type: string
          pattern: area
          example: area
    other_incomes:
      type: array
      items:
        type: object
        properties:
          type:
            type: string
            enum:
            - parking
            - storage
            - signage
            - fitout
            - promotional_charges
            - interest
            - other
            example: storage
            description: The classification of the other income
          start_month:
            type: number
            example: 1
            description: Month number in which income begins to apply
          amount:
            oneOf:
            - $ref: '#/components/schemas/measure_money_area_period'
            - $ref: '#/components/schemas/measure_money_period'
            description: Per unit amount paid to landlord
          quantity:
            type: number
            example: 1
            description: The quantity of the entity providing income (only applies to parking)
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow with PKCE (VTS Activate / OIDC).
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox.vts.com/oauth/authorize
          tokenUrl: https://sandbox.vts.com/oauth/token
          refreshUrl: https://sandbox.vts.com/oauth/token
          scopes:
            read_write: Read and write access
            openid: OpenID Connect
            profile: Profile claims
            email: Email claim
x-apis-json:
  generated: '2026-07-21'
  method: searched
  source: https://readme.vts.com/reference (per-operation OpenAPI fragments, harvested & merged)
