openapi: 3.0.2
info:
  title: VTS Lease Account Admin Auth2.0 Access Token API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants, buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com) per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Auth2.0 Access Token
paths:
  /oauth/v1/token:
    post:
      description: Get access token
      tags:
      - Auth2.0 Access Token
      summary: Get access token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models_api.AuthRequest'
        description: Auth request object
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models_api.AuthResponse'
      operationId: post_oauth-v1-token-1
components:
  schemas:
    models_api.AuthResponse:
      type: object
      properties:
        access_token:
          type: string
          description: 'Json Web Token. Use as ''authorization: Bearer <JWT>'' header'
        scope:
          type: string
          description: application scope
        expires_in:
          type: integer
          description: expiration duration
        token_type:
          type: string
          description: token_type
          default: Bearer
    models_api.AuthRequest:
      type: object
      properties:
        client_id:
          type: string
          description: client_id
        client_secret:
          type: string
          description: client_secret
        audience:
          type: string
          description: client_secret
          example: download-links
          default: download-links
        grant_type:
          type: string
          description: grant_type
          example: client_credentials
          default: client_credentials
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow with PKCE (VTS Activate / OIDC).
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox.vts.com/oauth/authorize
          tokenUrl: https://sandbox.vts.com/oauth/token
          refreshUrl: https://sandbox.vts.com/oauth/token
          scopes:
            read_write: Read and write access
            openid: OpenID Connect
            profile: Profile claims
            email: Email claim
x-apis-json:
  generated: '2026-07-21'
  method: searched
  source: https://readme.vts.com/reference (per-operation OpenAPI fragments, harvested & merged)
