openapi: 3.0.2
info:
  title: VTS Lease Account Admin Coordination Projects API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants, buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com) per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Coordination Projects
paths:
  /api/v1/coordination_project_milestones:
    get:
      summary: Gets a list of coordination project milestones
      description: Contains all milestones of your portfolio
      tags:
      - Coordination Projects
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns a list of milestones associated with your portfolio
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          properties:
                            description:
                              type: string
                              nullable: true
                            completed_at:
                              type: string
                              nullable: true
                            target_date:
                              type: string
                              nullable: true
                            notes:
                              type: string
                              nullable: true
                            created_at:
                              type: string
                            updated_at:
                              type: string
                            category_description:
                              type: string
                              nullable: true
                        relationships:
                          type: object
                          properties:
                            completed_by:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                  nullable: true
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                            coordination_project:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/coordination_projects/1
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects/1/milestones
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects/12345/milestones?page%5Bbefore%5D=MzE2NTI%253D
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects/12345/milestones?page%5Bafter%5D=MzE2NjQ%253D
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-coordination-project-milestones
  /api/v1/coordination_project_milestones/{id}:
    get:
      summary: Gets specific coordination project milestones
      description: Contains specific milestones of your portfolio
      tags:
      - Coordination Projects
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns a specific milestones associated with your portfolio
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      attributes:
                        type: object
                        properties:
                          description:
                            type: string
                            nullable: true
                          completed_at:
                            type: string
                            nullable: true
                          target_date:
                            type: string
                            nullable: true
                          notes:
                            type: string
                            nullable: true
                          created_at:
                            type: string
                          updated_at:
                            type: string
                          category_description:
                            type: string
                            nullable: true
                      relationships:
                        type: object
                        properties:
                          completed_by:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                nullable: true
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                          coordination_project:
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.vts.com/api/v1/coordination_projects/1
        '403':
          description: API not authorized for use
      operationId: get_api-v1-coordination-project-milestones-id
  /api/v1/coordination_projects:
    get:
      summary: Gets coordination projects
      description: Contains the coordination projects in your portfolio
      tags:
      - Coordination Projects
      operationId: coordination_projects
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns a list of coordination projects associated with the current account
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: coordination_projects
                        attributes:
                          type: object
                          properties:
                            target_rent_commencement_date:
                              type: string
                              format: date
                              nullable: true
                            current_rent_commencement_date:
                              type: string
                              format: date
                              nullable: true
                            created_at:
                              type: string
                              format: date-time
                            updated_at:
                              type: string
                              format: date-time
                            status:
                              type: string
                              example: on_track
                              nullable: true
                        relationships:
                          type: object
                          properties:
                            tenant:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/tenants/12345
                            deal:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/deals/1
                            asset:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/assets/1
                            next_milestone:
                              anyOf:
                              - type: object
                                properties:
                                  data:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: '10'
                                      type:
                                        type: string
                                        example: coordination_milestones
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        example: https://api.vts.com/api/v1/coordination_project_milestones/1
                              - type: object
                                properties:
                                  data:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: '10'
                                      type:
                                        type: string
                                        example: coordination_milestones
                                    nullable: true
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects?page%5Bbefore%5D=MzE2NTI%253D
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects?page%5Bafter%5D=MzE2NjQ%253D
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
  /api/v1/coordination_projects/{id}:
    get:
      summary: Retrieves specific coordination project
      description: Contains the coordination projects in your portfolio
      tags:
      - Coordination Projects
      operationId: coordination_project
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested coordination project if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: coordination_projects
                        attributes:
                          type: object
                          properties:
                            target_rent_commencement_date:
                              type: string
                              format: date
                              nullable: true
                            current_rent_commencement_date:
                              type: string
                              format: date
                              nullable: true
                            created_at:
                              type: string
                              format: date-time
                            updated_at:
                              type: string
                              format: date-time
                            status:
                              type: string
                              example: on_track
                              nullable: true
                        relationships:
                          type: object
                          properties:
                            tenant:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/tenants/12345
                            deal:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/deals/1
                            asset:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/assets/1
                            next_milestone:
                              anyOf:
                              - type: object
                                properties:
                                  data:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: '10'
                                      type:
                                        type: string
                                        example: coordination_milestones
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        example: https://api.vts.com/api/v1/coordination_project_milestones/1
                              - type: object
                                properties:
                                  data:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: '10'
                                      type:
                                        type: string
                                        example: coordination_milestones
                                    nullable: true
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects?page%5Bbefore%5D=MzE2NTI%253D
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects?page%5Bafter%5D=MzE2NjQ%253D
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Requested coordination project does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
  /api/v1/coordination_projects/{project_id}/milestones:
    get:
      summary: Gets a coordination project's milestones
      description: Contains the coordination projects in your portfolio
      tags:
      - Coordination Projects
      security:
      - basic_auth: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns a list of milestones associated with the coordination project
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          properties:
                            description:
                              type: string
                              nullable: true
                            completed_at:
                              type: string
                              nullable: true
                            target_date:
                              type: string
                              nullable: true
                            notes:
                              type: string
                              nullable: true
                            created_at:
                              type: string
                            updated_at:
                              type: string
                            category_description:
                              type: string
                              nullable: true
                        relationships:
                          type: object
                          properties:
                            completed_by:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                  nullable: true
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                            coordination_project:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/coordination_projects/1
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects/1/milestones
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects/12345/milestones?page%5Bbefore%5D=MzE2NTI%253D
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects/12345/milestones?page%5Bafter%5D=MzE2NjQ%253D
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Referenced coordination project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-coordination-projects-project-id-milestones
  /api/v1/deals/{deal_id}/coordination_projects:
    get:
      summary: Gets coordination projects for specific deal
      description: Contains the coordination projects in your portfolio for specific deal
      tags:
      - Coordination Projects
      operationId: coordination_projects_per_deal
      security:
      - basic_auth: []
      parameters:
      - name: deal_id
        in: path
        required: true
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns a list of coordination projects associated with the current account
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: coordination_projects
                        attributes:
                          type: object
                          properties:
                            target_rent_commencement_date:
                              type: string
                              format: date
                              nullable: true
                            current_rent_commencement_date:
                              type: string
                              format: date
                              nullable: true
                            created_at:
                              type: string
                              format: date-time
                            updated_at:
                              type: string
                              format: date-time
                            status:
                              type: string
                              example: on_track
                              nullable: true
                        relationships:
                          type: object
                          properties:
                            tenant:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/tenants/12345
                            deal:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/deals/1
                            asset:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/assets/1
                            next_milestone:
                              anyOf:
                              - type: object
                                properties:
                                  data:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: '10'
                                      type:
                                        type: string
                                        example: coordination_milestones
                                  links:
                                    type: object
                                    properties:
                                      related:
                                        type: string
                                        example: https://api.vts.com/api/v1/coordination_project_milestones/1
                              - type: object
                                properties:
                                  data:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: '10'
                                      type:
                                        type: string
                                        example: coordination_milestones
                                    nullable: true
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects?page%5Bbefore%5D=MzE2NTI%253D
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/coordination_projects?page%5Bafter%5D=MzE2NjQ%253D
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
components:
  schemas:
    errors_object:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                nullable: true
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow with PKCE (VTS Activate / OIDC).
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox.vts.com/oauth/authorize
          tokenUrl: https://sandbox.vts.com/oauth/token
          refreshUrl: https://sandbox.vts.com/oauth/token
          scopes:
            read_write: Read and write access
            openid: OpenID Connect
            profile: Profile claims
            email: Email claim
x-apis-json:
  generated: '2026-07-21'
  method: searched
  source: https://readme.vts.com/reference (per-operation OpenAPI fragments, harvested & merged)
