openapi: 3.0.2
info:
  title: VTS Lease Account Admin Blended Budgets API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants, buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com) per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Blended Budgets
paths:
  /api/v1/blended_budgets:
    get:
      summary: Fetches blended budgets
      tags:
      - Blended Budgets
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns list of Blended Budgets
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: blended_budgets
                        id:
                          type: string
                          example: '1'
                          description: The ID of the blended budget
                        attributes:
                          type: object
                          properties:
                            created_at:
                              type: string
                              example: '2021-11-29T20:10:15.232949Z'
                              description: The timestamp when this blended budget was created
                            updated_at:
                              type: string
                              example: '2021-11-29T20:10:15.232949Z'
                              description: The timestamp when this blended budget was last updated
                            rentable_size:
                              allOf:
                              - $ref: '#/components/schemas/measure_area'
                              - description: The sum of the rentable areas for each budget comprising the blended budget
                            base_rent:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area_period'
                              - properties:
                                  magnitude:
                                    example: 35
                                  unit:
                                    example: USD/sf/yr
                                  unit_components:
                                    properties:
                                      period:
                                        enum:
                                        - yr
                                        description: 'Possible values: ''yr'''
                                description: The weighted average of the base rents for each budget comprising the blended budget
                            recovered_income:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area_period'
                              - properties:
                                  magnitude:
                                    example: 35
                                  unit:
                                    example: USD/sf/yr
                                  unit_components:
                                    properties:
                                      period:
                                        enum:
                                        - yr
                                        description: 'Possible values: ''yr'''
                                description: The weighted average of the recovery income for each budget comprising the blended budget
                            total_other_revenue:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area_period'
                              - properties:
                                  magnitude:
                                    example: 35
                                  unit:
                                    example: USD/sf/yr
                                  unit_components:
                                    properties:
                                      period:
                                        enum:
                                        - yr
                                        description: 'Possible values: ''yr'''
                                description: The weighted average of other revenue for each budget comprising the blended budget
                            total_percentage_rent:
                              allOf:
                              - $ref: '#/components/schemas/measure_money'
                              - description: Sum of percentage rent for each budget comprising the blended budget
                            total_free_rent:
                              allOf:
                              - $ref: '#/components/schemas/measure_money'
                              - description: Sum of free rent for each budget comprising the blended budget
                            tenant_improvements:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area'
                              - description: Sum of tenant improvements for each budget comprising the blended budget
                            building_improvements:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area'
                              - description: Sum of building improvements for each budget comprising the blended budget
                            total_commissions:
                              allOf:
                              - $ref: '#/components/schemas/measure_money'
                              - description: Sum of commissions for each budget comprising the blended budget
                            reimbursable_expenses:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area_period'
                              - properties:
                                  magnitude:
                                    example: 35
                                  unit:
                                    example: USD/sf/yr
                                  unit_components:
                                    properties:
                                      period:
                                        enum:
                                        - yr
                                        description: 'Possible values: ''yr'''
                                description: The weighted average of reimbursable expenses for each budget comprising the blended budget
                            net_effective_rent:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area_period'
                              - properties:
                                  unit:
                                    example: USD/sf/yr
                                  unit_components:
                                    properties:
                                      period:
                                        enum:
                                        - yr
                                        description: 'Possible values: ''yr'''
                                description: The weighted average of net effective rent for each budget comprising the blended budget
                            net_present_value:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area'
                              - description: The weighted average of net present value for each budget comprising the blended budget
                        relationships:
                          type: object
                          properties:
                            deal:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - deals
                                      example: deals
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      format: uri
                            budgets:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    nullable: true
                                    properties:
                                      id:
                                        type: string
                                        example: '12345'
                                      type:
                                        type: string
                                        enum:
                                        - budgets
                                        example: budgets
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-blended-budgets
  /api/v1/blended_budgets/{id}:
    get:
      summary: Retrieves specific blended budgets
      tags:
      - Blended Budgets
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested blended budget if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: blended_budgets
                      id:
                        type: string
                        example: '1'
                        description: The ID of the blended budget
                      attributes:
                        type: object
                        properties:
                          created_at:
                            type: string
                            example: '2021-11-29T20:10:15.232949Z'
                            description: The timestamp when this blended budget was created
                          updated_at:
                            type: string
                            example: '2021-11-29T20:10:15.232949Z'
                            description: The timestamp when this blended budget was last updated
                          rentable_size:
                            allOf:
                            - $ref: '#/components/schemas/measure_area'
                            - description: The sum of the rentable areas for each budget comprising the blended budget
                          base_rent:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                magnitude:
                                  example: 35
                                unit:
                                  example: USD/sf/yr
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - yr
                                      description: 'Possible values: ''yr'''
                              description: The weighted average of the base rents for each budget comprising the blended budget
                          recovered_income:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                magnitude:
                                  example: 35
                                unit:
                                  example: USD/sf/yr
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - yr
                                      description: 'Possible values: ''yr'''
                              description: The weighted average of the recovery income for each budget comprising the blended budget
                          total_other_revenue:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                magnitude:
                                  example: 35
                                unit:
                                  example: USD/sf/yr
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - yr
                                      description: 'Possible values: ''yr'''
                              description: The weighted average of other revenue for each budget comprising the blended budget
                          total_percentage_rent:
                            allOf:
                            - $ref: '#/components/schemas/measure_money'
                            - description: Sum of percentage rent for each budget comprising the blended budget
                          total_free_rent:
                            allOf:
                            - $ref: '#/components/schemas/measure_money'
                            - description: Sum of free rent for each budget comprising the blended budget
                          tenant_improvements:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area'
                            - description: Sum of tenant improvements for each budget comprising the blended budget
                          building_improvements:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area'
                            - description: Sum of building improvements for each budget comprising the blended budget
                          total_commissions:
                            allOf:
                            - $ref: '#/components/schemas/measure_money'
                            - description: Sum of commissions for each budget comprising the blended budget
                          reimbursable_expenses:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                magnitude:
                                  example: 35
                                unit:
                                  example: USD/sf/yr
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - yr
                                      description: 'Possible values: ''yr'''
                              description: The weighted average of reimbursable expenses for each budget comprising the blended budget
                          net_effective_rent:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                unit:
                                  example: USD/sf/yr
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - yr
                                      description: 'Possible values: ''yr'''
                              description: The weighted average of net effective rent for each budget comprising the blended budget
                          net_present_value:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area'
                            - description: The weighted average of net present value for each budget comprising the blended budget
                      relationships:
                        type: object
                        properties:
                          deal:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                    example: '12345'
                                  type:
                                    type: string
                                    enum:
                                    - deals
                                    example: deals
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    format: uri
                          budgets:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: '12345'
                                    type:
                                      type: string
                                      enum:
                                      - budgets
                                      example: budgets
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Requested blended budget does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-blended-budgets-id
components:
  schemas:
    measure_money_area_period:
      type: object
      nullable: true
      properties:
        magnitude:
          type: number
          format: float
          example: 1000
        unit:
          type: string
          example: USD/sf/yr
        unit_components:
          type: object
          properties:
            money:
              type: string
              pattern: '...'
              description: ISO 4217 currency code
              example: USD
            area:
              type: string
              enum:
              - sf
              - sm
            period:
              type: string
              enum:
              - yr
              - mo
              - day
        type:
          type: string
          pattern: money/area/period
          example: money/area/period
    measure_money:
      type: object
      nullable: true
      properties:
        magnitude:
          type: number
          format: float
          example: 1000
        unit:
          type: string
          pattern: '...'
          description: ISO 4217 currency code
          example: USD
        unit_components:
          type: object
          properties:
            money:
              type: string
              pattern: '...'
              example: USD
        type:
          type: string
          pattern: money
          example: money
    errors_object:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                nullable: true
    measure_money_area:
      type: object
      nullable: true
      properties:
        magnitude:
          type: number
          format: float
          example: 1000
        unit:
          type: string
          example: USD/sf
        unit_components:
          type: object
          properties:
            money:
              type: string
              pattern: '...'
              description: ISO 4217 currency code
              example: USD
            area:
              type: string
              enum:
              - sf
              - sm
        type:
          type: string
          pattern: money/area
          example: money/area
    measure_area:
      type: object
      nullable: true
      properties:
        magnitude:
          type: number
          format: float
          example: 1000
        unit:
          type: string
          enum:
          - sf
          - sm
          example: sf
          description: 'Possible values: ''sf'' for square feet, ''sm'' for square meters'
        unit_components:
          type: object
          properties:
            area:
              type: string
              enum:
              - sf
              - sm
        type:
          type: string
          pattern: area
          example: area
  securitySchemes:
    basic_auth:
      type: http
      scheme: basic
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow with PKCE (VTS Activate / OIDC).
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox.vts.com/oauth/authorize
          tokenUrl: https://sandbox.vts.com/oauth/token
          refreshUrl: https://sandbox.vts.com/oauth/token
          scopes:
            read_write: Read and write access
            openid: OpenID Connect
            profile: Profile claims
            email: Email claim
x-apis-json:
  generated: '2026-07-21'
  method: searched
  source: https://readme.vts.com/reference (per-operation OpenAPI fragments, harvested & merged)
