openapi: 3.0.2
info:
  title: VTS Lease API
  version: v1
  description: VTS Lease REST API — the commercial real estate leasing, asset management, and portfolio data surface of the
    VTS platform. Resources include assets, spaces, leases, deals, deal terms, lease terms, financials, budgets, tenants,
    buildings, listings, and the Leasing Availability API. Harvested verbatim from the VTS developer portal (readme.vts.com)
    per-operation OpenAPI fragments.
  contact:
    name: VTS API Support
    url: https://readme.vts.com/
  termsOfService: https://www.vts.com/services-terms
servers:
- url: https://api.vts.com
- url: https://sandbox.vts.com
  description: Sandbox
security:
- basic_auth: []
tags:
- name: Account Admin
- name: Appraisals
- name: Approvals
- name: Assets
- name: Auth2.0 Access Token
- name: Blended Budgets
- name: Broker
- name: Budgets
- name: Coordination Projects
- name: Deal Comments
- name: Deal Iterations
- name: Deal Snapshots
- name: Deal Tasks
- name: Deal Terms
- name: Deal Tours
- name: Deals
- name: Delinquencies
- name: Download Links
- name: Financials
- name: Global Tenants
- name: Lease Terms
- name: Leases
- name: Leasing Availability
- name: Options
- name: Proposals
- name: Retail Sales
- name: Spaces
- name: Tenant Contacts
- name: Tenant Industries
- name: Tenant Updates
- name: Tenants
- name: Users
paths:
  /:
    get:
      description: Download AWS CloudFront pre-signed URIs
      tags:
      - Download Links
      summary: Download files URIs
      parameters:
      - description: Defines the export.
        name: export_name
        in: query
        required: true
        schema:
          type: string
          enum:
          - activate_reservations
          - activate_analytics_events
          - activate_user_channel_details
          - sample_export
      - description: Specifies the generated date of the requested export file (YYYY-MM-DD).
        name: generated_date
        in: query
        schema:
          type: string
      - description: Authentication JSON Web Token with correct claims and identifier information.
        name: authorization
        in: header
        required: true
        schema:
          type: string
          default: Bearer
      - description: JSON content type header.
        name: Content-Type
        in: header
        required: true
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models_api.DownloadLinksResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models_api.ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models_api.ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models_api.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: string
      operationId: get_-1
  /api/v1/account_admin/approval_settings:
    get:
      summary: Fetches approval settings
      tags:
      - Account Admin
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        description: 'The number of items returned for any one page (default: 10, max: 100)'
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        description: Show records before the given page indicator
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        description: Show records after the given page indicator
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD
          HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Approval settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                              example: New Approval Setting
                            deal_types:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                    example: 1
                                  name:
                                    type: string
                                    example: New Deal
                                  created_at:
                                    type: string
                                    format: date-time
                                  updated_at:
                                    type: string
                                    format: date-time
                            space_types:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                    example: 1
                                  name:
                                    type: string
                                    example: Education
                                  created_at:
                                    type: string
                                    format: date-time
                                  updated_at:
                                    type: string
                                    format: date-time
                        relationships:
                          description: The objects linked to a approval settings
                          type: object
                          properties:
                            asset_group:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/account_admin/asset_groups?id=1
                                data:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: asset_groups
                                    id:
                                      type: string
                                      example: '1'
                            watcher:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: users
                                      id:
                                        type: string
                                        example: '1'
                            approver_slots:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: approver_slots
                                      id:
                                        type: string
                                        example: '1'
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/account_admin/approver_slots?filter%5Bapproval_setting_id%5D=1
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/approval_settings?page%5Bafter%5D=MzE2NTE%253D
                        description: The current URL
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/approval_settings?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the previous page of Approval Setting
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/approval_settings?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the next page of Approval Setting
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-account-admin-approval-settings
  /api/v1/account_admin/approver_rules:
    get:
      summary: Fetches approver rules
      tags:
      - Account Admin
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        description: 'The number of items returned for any one page (default: 10, max: 100)'
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        description: Show records before the given page indicator
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        description: Show records after the given page indicator
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD
          HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Approver Rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                        attributes:
                          type: object
                          properties:
                            order_number:
                              type: number
                              example: 1
                            rule_type:
                              type: string
                              enum:
                              - above_budget
                              - below_budget
                              - capital_variance_above_budget
                              - cost
                              - deal_term_greater_than
                              - deal_term_less_than
                              - lease_infos
                              - ner_to_break_below_budget
                              - options_and_rights
                              - rentable_size
                              - size_greater_than
                              - size_less_than
                              - total_capital
                              - total_capital_less_than
                              - year_one_total_rent
                              example: above_budget
                              description: Represents the type of the approver rule as stored in the database.
                            rule_name:
                              type: string
                              example: NER Variance Above Budget
                              description: Represents a user-friendly label or name for the approver rule type.
                            condition:
                              type: string
                              enum:
                              - and
                              - or
                              example: and
                            threshold:
                              type: object
                              properties:
                                value:
                                  type: number
                                  example: 1
                                unit:
                                  type: string
                                  example: '%'
                              nullable: true
                            right_types:
                              type: array
                              items:
                                type: string
                                example: audit rights
                                enum:
                                - audit rights
                                - cap on rates
                                - co-tenancy
                                - contraction
                                - exclusive use
                                - generator rights
                                - go dark
                                - kick out
                                - landlord & tenant act 1954
                                - make good
                                - must lease
                                - other
                                - parking
                                - purchase
                                - radius
                                - relocation
                                - rent review
                                - rofn
                                - set off rights
                                - signage
                                - special provisions
                                - storage
                                - sublease
                                - use
                                - break
                                - expansion
                                - renewal
                                - rights to terminate
                                - rofo
                                - rofr
                                description: The type of the right
                              nullable: true
                            lease_info_types:
                              type: array
                              items:
                                type: string
                                example: guarantor
                                enum:
                                - guarantor
                                - tenant notice info
                                - lease drafter
                                - certificate of insurance
                                - development impact
                                - other
                                description: The type of the lease info
                              nullable: true
                        relationships:
                          description: The objects linked to a approver rules
                          type: object
                          properties:
                            approver_slot:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/account_admin/approver_slots/1
                                data:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: approver_slots
                                    id:
                                      type: string
                                      example: '1'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/approver_rules?page%5Bafter%5D=MzE2NTE%253D
                        description: The current URL
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/approver_rules?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the previous page of Approver Rules
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/approver_rules?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the next page of Approver Rules
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-account-admin-approver-rules
  /api/v1/account_admin/approver_slots:
    get:
      summary: Fetches approver slots
      tags:
      - Account Admin
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        description: 'The number of items returned for any one page (default: 10, max: 100)'
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        description: Show records before the given page indicator
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        description: Show records after the given page indicator
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD
          HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Approver Slots
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                        attributes:
                          type: object
                          properties:
                            description:
                              type: string
                              example: Approver Slots Description
                            order_number:
                              type: number
                              example: 1
                        relationships:
                          description: The objects linked to a approver slots
                          type: object
                          properties:
                            approver:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/users/1
                                data:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: users
                                    id:
                                      type: string
                                      example: '1'
                            approver_rules:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: approver_rules
                                      id:
                                        type: string
                                        example: '1'
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/account_admin/approver_rules?filter%5Bapprover_slot_id%5D=1
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/approver_slots?page%5Bafter%5D=MzE2NTE%253D
                        description: The current URL
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/approver_slots?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the previous page of Approver Slots
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/approver_slots?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the next page of Approver Slots
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-account-admin-approver-slots
  /api/v1/account_admin/approver_slots/{id}:
    get:
      summary: Retrieves specific approver slots
      tags:
      - Account Admin
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested approver slot if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                      id:
                        type: string
                      attributes:
                        type: object
                        properties:
                          description:
                            type: string
                            example: Approver Slots Description
                          order_number:
                            type: number
                            example: 1
                      relationships:
                        description: The objects linked to a approver slots
                        type: object
                        properties:
                          approver:
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.vts.com/api/v1/users/1
                              data:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    example: users
                                  id:
                                    type: string
                                    example: '1'
                          approver_rules:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: approver_rules
                                    id:
                                      type: string
                                      example: '1'
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.vts.com/api/v1/account_admin/approver_rules?filter%5Bapprover_slot_id%5D=1
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Requested approver slot does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-account-admin-approver-slots-id
  /api/v1/account_admin/asset_groups:
    get:
      summary: Fetches asset groups
      tags:
      - Account Admin
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        description: 'The number of items returned for any one page (default: 10, max: 100)'
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        description: Show records before the given page indicator
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        description: Show records after the given page indicator
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD
          HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Asset Groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                              example: New Deal
                        relationships:
                          description: The objects linked to a Asset Group
                          type: object
                          properties:
                            assets:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/assets?filter%5Basset_group_id%5D=1
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: 100
                                      type:
                                        type: string
                                        example: assets
                            task_settings:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/account_admin/task_settings?filter%5Basset_group_id%5D=1
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        example: 100
                                      type:
                                        type: string
                                        example: task_settings
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/asset_groups?page%5Bafter%5D=MzE2NTE%253D
                        description: The current URL
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/asset_groups?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the previous page of Asset Group
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/asset_groups?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the next page of Asset Group
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-account-admin-asset-groups
  /api/v1/account_admin/asset_groups/{id}:
    get:
      summary: Retrieves specific asset groups
      tags:
      - Account Admin
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested asset group if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                      id:
                        type: string
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: New Deal
                      relationships:
                        description: The objects linked to a Asset Group
                        type: object
                        properties:
                          assets:
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.vts.com/api/v1/assets?filter%5Basset_group_id%5D=1
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: 100
                                    type:
                                      type: string
                                      example: assets
                          task_settings:
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.vts.com/api/v1/account_admin/task_settings?filter%5Basset_group_id%5D=1
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: 100
                                    type:
                                      type: string
                                      example: task_settings
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Requested asset group does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-account-admin-asset-groups-id
  /api/v1/account_admin/task_settings:
    get:
      summary: Fetches task settings
      tags:
      - Account Admin
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        description: 'The number of items returned for any one page (default: 10, max: 100)'
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        description: Show records before the given page indicator
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        description: Show records after the given page indicator
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD
          HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Task settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                              example: New Task Setting
                            deal_types:
                              type: array
                              items:
                                type: string
                                example: renewal
                            space_types:
                              type: array
                              items:
                                type: string
                                example: amenities
                        relationships:
                          description: The objects linked to a task settings
                          type: object
                          properties:
                            asset_group:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/account_admin/asset_groups?id=1
                                data:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: asset_groups
                                    id:
                                      type: string
                                      example: '1'
                            task_templates:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/account_admin/task_templates?filter%5Btask_setting_id%5D=1
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: task_templates
                                      id:
                                        type: string
                                        example: '1'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/task_settings?page%5Bafter%5D=MzE2NTE%253D
                        description: The current URL
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/task_settings?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the previous page of Task Setting
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/task_settings?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the next page of Task Setting
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-account-admin-task-settings
  /api/v1/account_admin/task_settings/{id}:
    get:
      summary: Retrieves specific task settings
      tags:
      - Account Admin
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested task setting if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                      id:
                        type: string
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            example: New Task Setting
                          deal_types:
                            type: array
                            items:
                              type: string
                              example: renewal
                          space_types:
                            type: array
                            items:
                              type: string
                              example: amenities
                      relationships:
                        description: The objects linked to a task settings
                        type: object
                        properties:
                          asset_group:
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.vts.com/api/v1/account_admin/asset_groups?id=1
                              data:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    example: asset_groups
                                  id:
                                    type: string
                                    example: '1'
                          task_templates:
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.vts.com/api/v1/account_admin/task_templates?filter%5Btask_setting_id%5D=1
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: task_templates
                                    id:
                                      type: string
                                      example: '1'
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Requested task setting does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-account-admin-task-settings-id
  /api/v1/account_admin/task_templates:
    get:
      summary: Fetches task templates
      tags:
      - Account Admin
      security:
      - basic_auth: []
      parameters:
      - name: filter[task_setting_id]
        in: query
        required: false
        schema:
          type: string
      - name: page[size]
        in: query
        required: false
        description: 'The number of items returned for any one page (default: 10, max: 100)'
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        description: Show records before the given page indicator
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        description: Show records after the given page indicator
        schema:
          type: string
      - name: filter[updated_since]
        in: query
        schema:
          type: string
          format: date-time
        required: false
        description: Only display records that have been modified after the given date/timestamp. Should be in `YYYY-MM-DD
          HH:MM:SS` (ISO8601) format. (Hours, minutes, and seconds are optional.)
        example: '2021-03-15'
      responses:
        '200':
          description: Returns list of Task templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                        attributes:
                          type: object
                          properties:
                            description:
                              type: string
                              example: Setting Name
                            deal_stage:
                              type: object
                              properties:
                                status:
                                  type: string
                                  example: initial_inquiry
                                display_name:
                                  type: string
                                  example: Inquiry
                            order_number:
                              type: integer
                              example: 1
                            required:
                              type: boolean
                        relationships:
                          description: The objects linked to a task templates
                          type: object
                          properties:
                            assignee:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/users/1
                                data:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: users
                                    id:
                                      type: string
                                      example: '1'
                              nullable: true
                            task_setting:
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/account_admin/task_settings/1
                                data:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: task_settings
                                    id:
                                      type: string
                                      example: '1'
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/task_templates?page%5Bafter%5D=MzE2NTE%253D
                        description: The current URL
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/task_templates?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the previous page of Task Template
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/task_templates?page%5Bbefore%5D=MzE2NTI%253D
                        description: URL for the next page of Task Template
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-account-admin-task-templates
  /api/v1/account_admin/user_asset_permissions:
    get:
      summary: Fetches user asset permissions
      description: Contains the user asset permissions in your portfolio.
      tags:
      - Account Admin
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns list of User Asset Permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: user_asset_permissions
                        id:
                          type: string
                          example: '1'
                        attributes:
                          type: object
                          properties:
                            permission:
                              type: string
                              example: user_admin
                            user_email:
                              type: string
                              example: johndoe@example.com
                            asset_address:
                              type: string
                              example: 123 Park Avenue
                        relationships:
                          type: object
                          properties:
                            asset:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: 100
                                    type:
                                      type: string
                                      example: assets
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/assets/1
                            user:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: 100
                                    type:
                                      type: string
                                      example: user
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/users/1
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/user_asset_permissions
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/user_asset_permissions?page%5Bbefore%5D=MzE2NTI%253D
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/user_asset_permissions?page%5Bafter%5D=MzE2NjQ%253D
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-account-admin-user-asset-permissions
  /api/v1/account_admin/user_space_permissions:
    get:
      summary: Fetches user space permissions
      description: Contains the user space permissions in your portfolio.
      tags:
      - Account Admin
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns list of User Spaces Permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: user_space_permissions
                        id:
                          type: string
                          example: '1'
                        attributes:
                          type: object
                          properties:
                            permission:
                              type: string
                              example: user_admin
                            team_override:
                              type: boolean
                            user_email:
                              type: string
                              example: johndoe@example.com
                            asset_address:
                              type: string
                              example: 123 Park Avenue
                            suite_name:
                              type: string
                              nullable: true
                        relationships:
                          type: object
                          properties:
                            asset:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: 100
                                    type:
                                      type: string
                                      example: assets
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/assets/1
                            space:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: 100
                                    type:
                                      type: string
                                      example: spaces_office
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/spaces/1
                            user:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                      example: 100
                                    type:
                                      type: string
                                      example: user
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.vts.com/api/v1/users/1
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/user_space_permissions
                      prev:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/user_space_permissions?page%5Bbefore%5D=MzE2NTI%253D
                      next:
                        type: string
                        example: https://api.vts.com/api/v1/account_admin/user_space_permissions?page%5Bafter%5D=MzE2NjQ%253D
                    required:
                    - self
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-account-admin-user-space-permissions
  /api/v1/appraisals:
    get:
      summary: Fetches appraisals
      tags:
      - Appraisals
      security:
      - basic_auth: []
      parameters:
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
      - name: page[after]
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns list of Appraisals
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: appraisals
                  id:
                    type: string
                    example: '1'
                  attributes:
                    type: object
                    properties:
                      analysis_type:
                        type: string
                        example: appraisal
                        description: The proposal type of the appraisal
                      created_at:
                        type: string
                        example: '2021-12-08T16:28:22.179486Z'
                        format: date-time
                        description: The timestamp when this appraisal was created
                      commencement_date:
                        type: string
                        example: '2021-12-08'
                        format: date
                        description: Start of the lease. Usually designates when the tenant is entitled to the space.
                      concessions:
                        type: string
                        example: '0.0'
                        description: Total concessions on the deal
                      description:
                        type: string
                        nullable: true
                        example: Some text
                        description: A description of the appraisal
                      entered_date:
                        type: string
                        example: '1'
                        description: When the deal term was entered
                      npv_discount_rate:
                        type: string
                        nullable: true
                        example: '1.0'
                        description: Net Present Value discount rate
                      payback:
                        type: number
                        example: 1
                        description: The number of months it takes for the landlord to earn back what they had to pay out
                          as costs of the deal
                      structure:
                        type: string
                        example: full service
                        description: Rent and recovery structure label
                      calculated_metrics:
                        type: object
                        properties:
                          ner_override:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - description: Net Effective Rent as a percent of NER of appraisal
                          npv_per_area:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area'
                            - description: The present value of the net cash flow given the time value of money
                          total_net_cash_flow:
                            allOf:
                            - $ref: '#/components/schemas/measure_money'
                            - description: Total cash inflows minus outflows per the terms over the lifetime of the lease
                          internal_rate_of_return:
                            type: string
                            nullable: true
                            example: '100.0'
                            description: The return on money spent for the term of the lease
                      percentage_rents:
                        $ref: '#/components/schemas/percentage_rents'
                      other_incomes:
                        $ref: '#/components/schemas/other_incomes'
                      reimbursable_expenses:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              example: OperationalExpense
                              enum:
                              - OperationalExpense
                              - RealEstateTax
                              - ReimbursableExpenseCleaning
                              - ReimbursableExpenseInsurance
                              - ReimbursableExpenseMarketing
                              - ReimbursableExpenseOm
                              - ReimbursableExpenseOther
                              - ReimbursableExpenseRepairsAndMaintenance
                              - ReimbursableExpenseSecurity
                              - ReimbursableExpenseUtility
                              - ReimbursableExpenseCam
                              - ReimbursableExpenseElectric
                              - ReimbursableExpenseLandscaping
                              - ReimbursableExpenseManagementFee
                              description: The type of the reimbursable expense
                              deprecated: true
                            expense_type:
                              type: string
                              example: OperationalExpense
                              enum:
                              - OperationalExpense
                              - RealEstateTax
                              - ReimbursableExpenseCleaning
                              - ReimbursableExpenseInsurance
                              - ReimbursableExpenseMarketing
                              - ReimbursableExpenseOm
                              - ReimbursableExpenseOther
                              - ReimbursableExpenseRepairsAndMaintenance
                              - ReimbursableExpenseSecurity
                              - ReimbursableExpenseUtility
                              - ReimbursableExpenseCam
                              - ReimbursableExpenseElectric
                              - ReimbursableExpenseLandscaping
                              - ReimbursableExpenseManagementFee
                              description: The type of the reimbursable expense
                            recovery_method:
                              type: string
                              example: gross
                              enum:
                              - gross
                              - net
                              - amount
                              - modified_gross
                              description: The calculation method of the recovery amount for the reimbursable expense
                            expense_growth_rate:
                              allOf:
                              - $ref: '#/components/schemas/measure_percentage'
                              - description: The expenses will grow by this rate every 12 months after the lease commencement
                                  date.
                            expense_amount:
                              type: number
                              format: float
                              example: 10
                              description: The amount of the reimbursable expense
                              deprecated: true
                            expense_amount_with_units:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area_period'
                              - description: The amount of the reimbursable expense
                            recovery_amount:
                              type: number
                              example: 5
                              description: The amount of reimbursable expense that will be paid to landlord by the tenant
                              deprecated: true
                            recovery_amount_with_units:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area_period'
                              - description: The amount of reimbursable expense that will be paid to landlord by the tenant
                                  with recovery type modified_gross
                            expense_stop:
                              allOf:
                              - $ref: '#/components/schemas/measure_money_area_period'
                              - description: The expense stop of the reimbursable expense. Only applies for expenses with
                                  recovery type modified_gross
                            description:
                              type: string
                              example: Description
                              description: The description of reimbursable expense
                      base_rents:
                        $ref: '#/components/schemas/base_rents'
                      commissions:
                        $ref: '#/components/schemas/commissions'
                      costs:
                        $ref: '#/components/schemas/costs'
                      free_rents:
                        allOf:
                        - $ref: '#/components/schemas/free_rents'
                        - properties:
                            recovery_type:
                              type: string
                              enum:
                              - net
                              - gross
                              example: gross
                              description: 'net: percent of net base rent; gross: percent of gross base rent and recoveries.'
                              deprecated: true
                            percent_free:
                              type: number
                              format: float
                              example: 1.5
                              description: Discount as a percentage value of rent
                              deprecated: true
                            duration:
                              type: number
                              example: 1
                              description: The number of months in which the free rent applies
                              deprecated: true
                      net_effective_rent:
                        allOf:
                        - $ref: '#/components/schemas/measure_money_area_period'
                        - properties:
                            unit:
                              example: USD/sf/yr
                            unit_components:
                              properties:
                                period:
                                  enum:
                                  - yr
                                  description: 'Possible values: ''yr'''
                          description: The normalized value a tenant will pay per period to the landlord over the length of
                            a lease considering Net Present Value. Returned in money/area/year units
                      rent_escalations:
                        $ref: '#/components/schemas/rent_escalations'
                      rentable_size:
                        allOf:
                        - $ref: '#/components/schemas/measure_area'
                        - description: The area of the tenants rented Space.
                      security_deposit:
                        allOf:
                        - $ref: '#/components/schemas/measure_money'
                        - properties:
                            security_deposit_type:
                              type: string
                              example: letter_of_credit
                              description: The type of the security deposit
                          description: Value and currency of the appraisal's security deposit
                      total_deal_value:
                        allOf:
                        - $ref: '#/components/schemas/measure_money_area_period'
                        - properties:
                            magnitude:
                              example: 35
                            unit:
                              example: USD/sf/yr
                            unit_components:
                              properties:
                                period:
                                  enum:
                                  - yr
                                  description: 'Possible values: ''yr'''
                      total_lease_term:
                        $ref: '#/components/schemas/measure_period'
                      tenant_improvements:
                        type: array
                        items:
                          description: Each Tenant Improvement
                          type: object
                          properties:
                            allowance_unit:
                              type: string
                              example: rsf
                              description: Tenant Improvements allowance unit
                            allowance:
                              type: number
                              format: float
                              example: 0
                              description: Tenant Improvements allowance
                            occurrence_month:
                              type: number
                              example: 1
                              description: Tenant Improvements occurrence month. Possible values are between 1 and the number
                                of months in the budget
                            description:
                              type: string
                              nullable: true
                              example: Some text
                              description: Tenant Improvements description
                      building_improvements:
                        type: array
                        items:
                          description: Each Building Improvement
                          type: object
                          properties:
                            allowance_unit:
                              type: string
                              example: rsf
                              description: Building Improvements allowance unit
                            allowance:
                              type: number
                              format: float
                              example: 0
                              description: Building Improvements allowance
                            occurrence_month:
                              type: number
                              example: 1
                              description: Building Improvements occurrence month. Possible values are between 1 and the number
                                of months in the budget
                            description:
                              type: string
                              nullable: true
                              example: Some text
                              description: Building Improvements description
                      total_rent:
                        allOf:
                        - $ref: '#/components/schemas/measure_money_area_period'
                        - properties:
                            magnitude:
                              example: 35
                            unit:
                              example: USD/sf/mo
                            unit_components:
                              properties:
                                period:
                                  enum:
                                  - mo
                                  description: 'Possible values: ''mo'''
                          description: Amount of income that will be realized as "rent". Total value of Base Rent + Escalations
                            - Free Rent
                  relationships:
                    type: object
                    properties:
                      space:
                        type: object
                        properties:
                          data:
                            type: object
                            nullable: true
                            properties:
                              id:
                                type: string
                                example: '12345'
                              type:
                                type: string
                                enum:
                                - spaces_office
                                - spaces_retail
                                - spaces_industrial
                                - spaces_miscellaneous
                                example: spaces_office
                          links:
                            type: object
                            properties:
                              related:
                                type: string
                                format: uri
                        description: Only present for space-level appraisals
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-appraisals
  /api/v1/appraisals/{id}:
    get:
      summary: Retrieves specific appraisals
      tags:
      - Appraisals
      security:
      - basic_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns requested appraisal if it exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: appraisals
                      id:
                        type: string
                        example: '1'
                      attributes:
                        type: object
                        properties:
                          analysis_type:
                            type: string
                            example: appraisal
                            description: The proposal type of the appraisal
                          created_at:
                            type: string
                            example: '2021-12-08T16:28:22.179486Z'
                            format: date-time
                            description: The timestamp when this appraisal was created
                          commencement_date:
                            type: string
                            example: '2021-12-08'
                            format: date
                            description: Start of the lease. Usually designates when the tenant is entitled to the space.
                          concessions:
                            type: string
                            example: '0.0'
                            description: Total concessions on the deal
                          description:
                            type: string
                            nullable: true
                            example: Some text
                            description: A description of the appraisal
                          entered_date:
                            type: string
                            example: '1'
                            description: When the deal term was entered
                          npv_discount_rate:
                            type: string
                            nullable: true
                            example: '1.0'
                            description: Net Present Value discount rate
                          payback:
                            type: number
                            example: 1
                            description: The number of months it takes for the landlord to earn back what they had to pay
                              out as costs of the deal
                          structure:
                            type: string
                            example: full service
                            description: Rent and recovery structure label
                          calculated_metrics:
                            type: object
                            properties:
                              ner_override:
                                allOf:
                                - $ref: '#/components/schemas/measure_money_area_period'
                                - description: Net Effective Rent as a percent of NER of appraisal
                              npv_per_area:
                                allOf:
                                - $ref: '#/components/schemas/measure_money_area'
                                - description: The present value of the net cash flow given the time value of money
                              total_net_cash_flow:
                                allOf:
                                - $ref: '#/components/schemas/measure_money'
                                - description: Total cash inflows minus outflows per the terms over the lifetime of the lease
                              internal_rate_of_return:
                                type: string
                                nullable: true
                                example: '100.0'
                                description: The return on money spent for the term of the lease
                          percentage_rents:
                            $ref: '#/components/schemas/percentage_rents'
                          other_incomes:
                            $ref: '#/components/schemas/other_incomes'
                          reimbursable_expenses:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  example: OperationalExpense
                                  enum:
                                  - OperationalExpense
                                  - RealEstateTax
                                  - ReimbursableExpenseCleaning
                                  - ReimbursableExpenseInsurance
                                  - ReimbursableExpenseMarketing
                                  - ReimbursableExpenseOm
                                  - ReimbursableExpenseOther
                                  - ReimbursableExpenseRepairsAndMaintenance
                                  - ReimbursableExpenseSecurity
                                  - ReimbursableExpenseUtility
                                  - ReimbursableExpenseCam
                                  - ReimbursableExpenseElectric
                                  - ReimbursableExpenseLandscaping
                                  - ReimbursableExpenseManagementFee
                                  description: The type of the reimbursable expense
                                  deprecated: true
                                expense_type:
                                  type: string
                                  example: OperationalExpense
                                  enum:
                                  - OperationalExpense
                                  - RealEstateTax
                                  - ReimbursableExpenseCleaning
                                  - ReimbursableExpenseInsurance
                                  - ReimbursableExpenseMarketing
                                  - ReimbursableExpenseOm
                                  - ReimbursableExpenseOther
                                  - ReimbursableExpenseRepairsAndMaintenance
                                  - ReimbursableExpenseSecurity
                                  - ReimbursableExpenseUtility
                                  - ReimbursableExpenseCam
                                  - ReimbursableExpenseElectric
                                  - ReimbursableExpenseLandscaping
                                  - ReimbursableExpenseManagementFee
                                  description: The type of the reimbursable expense
                                recovery_method:
                                  type: string
                                  example: gross
                                  enum:
                                  - gross
                                  - net
                                  - amount
                                  - modified_gross
                                  description: The calculation method of the recovery amount for the reimbursable expense
                                expense_growth_rate:
                                  allOf:
                                  - $ref: '#/components/schemas/measure_percentage'
                                  - description: The expenses will grow by this rate every 12 months after the lease commencement
                                      date.
                                expense_amount:
                                  type: number
                                  format: float
                                  example: 10
                                  description: The amount of the reimbursable expense
                                  deprecated: true
                                expense_amount_with_units:
                                  allOf:
                                  - $ref: '#/components/schemas/measure_money_area_period'
                                  - description: The amount of the reimbursable expense
                                recovery_amount:
                                  type: number
                                  example: 5
                                  description: The amount of reimbursable expense that will be paid to landlord by the tenant
                                  deprecated: true
                                recovery_amount_with_units:
                                  allOf:
                                  - $ref: '#/components/schemas/measure_money_area_period'
                                  - description: The amount of reimbursable expense that will be paid to landlord by the tenant
                                      with recovery type modified_gross
                                expense_stop:
                                  allOf:
                                  - $ref: '#/components/schemas/measure_money_area_period'
                                  - description: The expense stop of the reimbursable expense. Only applies for expenses with
                                      recovery type modified_gross
                                description:
                                  type: string
                                  example: Description
                                  description: The description of reimbursable expense
                          base_rents:
                            $ref: '#/components/schemas/base_rents'
                          commissions:
                            $ref: '#/components/schemas/commissions'
                          costs:
                            $ref: '#/components/schemas/costs'
                          free_rents:
                            allOf:
                            - $ref: '#/components/schemas/free_rents'
                            - properties:
                                recovery_type:
                                  type: string
                                  enum:
                                  - net
                                  - gross
                                  example: gross
                                  description: 'net: percent of net base rent; gross: percent of gross base rent and recoveries.'
                                  deprecated: true
                                percent_free:
                                  type: number
                                  format: float
                                  example: 1.5
                                  description: Discount as a percentage value of rent
                                  deprecated: true
                                duration:
                                  type: number
                                  example: 1
                                  description: The number of months in which the free rent applies
                                  deprecated: true
                          net_effective_rent:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                unit:
                                  example: USD/sf/yr
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - yr
                                      description: 'Possible values: ''yr'''
                              description: The normalized value a tenant will pay per period to the landlord over the length
                                of a lease considering Net Present Value. Returned in money/area/year units
                          rent_escalations:
                            $ref: '#/components/schemas/rent_escalations'
                          rentable_size:
                            allOf:
                            - $ref: '#/components/schemas/measure_area'
                            - description: The area of the tenants rented Space.
                          security_deposit:
                            allOf:
                            - $ref: '#/components/schemas/measure_money'
                            - properties:
                                security_deposit_type:
                                  type: string
                                  example: letter_of_credit
                                  description: The type of the security deposit
                              description: Value and currency of the appraisal's security deposit
                          total_deal_value:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                magnitude:
                                  example: 35
                                unit:
                                  example: USD/sf/yr
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - yr
                                      description: 'Possible values: ''yr'''
                          total_lease_term:
                            $ref: '#/components/schemas/measure_period'
                          tenant_improvements:
                            type: array
                            items:
                              description: Each Tenant Improvement
                              type: object
                              properties:
                                allowance_unit:
                                  type: string
                                  example: rsf
                                  description: Tenant Improvements allowance unit
                                allowance:
                                  type: number
                                  format: float
                                  example: 0
                                  description: Tenant Improvements allowance
                                occurrence_month:
                                  type: number
                                  example: 1
                                  description: Tenant Improvements occurrence month. Possible values are between 1 and the
                                    number of months in the budget
                                description:
                                  type: string
                                  nullable: true
                                  example: Some text
                                  description: Tenant Improvements description
                          building_improvements:
                            type: array
                            items:
                              description: Each Building Improvement
                              type: object
                              properties:
                                allowance_unit:
                                  type: string
                                  example: rsf
                                  description: Building Improvements allowance unit
                                allowance:
                                  type: number
                                  format: float
                                  example: 0
                                  description: Building Improvements allowance
                                occurrence_month:
                                  type: number
                                  example: 1
                                  description: Building Improvements occurrence month. Possible values are between 1 and the
                                    number of months in the budget
                                description:
                                  type: string
                                  nullable: true
                                  example: Some text
                                  description: Building Improvements description
                          total_rent:
                            allOf:
                            - $ref: '#/components/schemas/measure_money_area_period'
                            - properties:
                                magnitude:
                                  example: 35
                                unit:
                                  example: USD/sf/mo
                                unit_components:
                                  properties:
                                    period:
                                      enum:
                                      - mo
                                      description: 'Possible values: ''mo'''
                              description: Amount of income that will be realized as "rent". Total value of Base Rent + Escalations
                                - Free Rent
                      relationships:
                        type: object
                        properties:
                          space:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                    example: '12345'
                                  type:
                                    type: string
                                    enum:
                                    - spaces_office
                                    - spaces_retail
                                    - spaces_industrial
                                    - spaces_miscellaneous
                                    example: spaces_office
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    format: uri
                            description: Only present for space-level appraisals
        '403':
          description: API not authorized for use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
        '404':
          description: Requested appraisal does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors_object'
      operationId: get_api-v1-appraisals-id
  /api/v1/assets:
    get:
      summary: Fetches assets
      description: Contains the assets in your portfolio. Assets are the top-level building or property component in VTS.
      tags:
      - Assets
      security:
      - basic_auth: []
      parameters:
      - name: filter[multi_building_asset_id]
        in: query
        required: false
        schema:
          type: integer
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
      - name: page[before]
        in: query
        required: false
        schema:
          type: string
[...]
